[2019-10-09 14:27] j3parker commented on #832
🎉 Thank you! This is so cool! I sent the email.

[2019-10-09 16:43] j3parker commented on #832
Okay - I followed the steps, added the build badge to the repo and switched our branch protection rules over to this CI. Everything looks good on our end! Feel free to close this issue if there is nothing left on yours.

[2019-10-09 19:47] MrPickles commented on #743
Hi Philipp, I actually left Google a week before you set up the pipeline. 🙃

I'd imagine that it would still be nice to keep the CI and make it green though! Since the repo is open source, I wouldn't mind doing some short-term maintenance and handoff, but I wont be able to make any longer term promises.

cc @ThomasHabets @dongjing-github

[2019-10-09 20:40] jin commented on #743
This would be really useful for test coverage of Android apps 👍

[2019-10-10 05:17] philwo commented on #743
Thanks for the feedback @MrPickles and @jin 😄

I'll roll out new images with the build-tools 28.0.3 today, so hopefully the project will just turn green then. If not and I need your help, I'll ping here. :)

[2019-10-10 05:19] jin commented on #743
I don't think any of the Android projects on CI now pin their build tools versions. To simplify future maintenance, @MrPickles can you remove the build tools versions pin in the WORKSPACE?

[2019-10-10 05:31] MrPickles commented on #743
@jin I removed it for my personal fork. If I see that both repos are green, I'll make a pull request into the upstream repo.

[2019-10-10 06:06] philwo commented on #743
@MrPickles I triggered a CI run for your fork: https://buildkite.com/bazel/mrpickles-google-authenticator-android/builds/73

I think we'll have to upgrade some dependencies in the WORKSPACE file so that they work with the latest Bazel version.

[2019-10-10 07:48] MrPickles commented on #743
Sure, I can take a look at it this weekend. Might not have that much bandwidth to work on it during the weekdays, since, you know... I don't work at Google anymore 😛

[2019-10-10 09:17] philwo commented on #832
Nice, glad to hear that! I'm closing this issue then :)

[2019-10-10 09:17] #832 closed

[2019-10-10 13:36] jmillikin commented on #841
This is set up and working; build's green on master. Thanks again for your help!

[2019-10-10 13:36] #841 closed

[2019-10-10 18:41] tmatsuo commented on #811
Thanks! I'm thinking to add the build badge to the README. I have a question. What version of Bazel is used for the daily build? Is it always using the head, or the latest release, or something else?

It seems like the last daily build is using 0.29.1, but it seems like there's 1.0.0 released recently. Will the next build use 1.0.0?

[2019-10-11 10:23] jmillikin opened #844 "Request to add new projects rules_bison, rules_flex, and rules_ragel"
- I want to test the following projects on Bazel CI:
  - https://github.com/jmillikin/rules_bison
  - https://github.com/jmillikin/rules_flex
  - https://github.com/jmillikin/rules_ragel
- I confirm that the projects all have a `.bazelci/presubmit.yml` file.

(I'm batching this because they're all similar small rulesets for a common build tool -- please let me know if you'd prefer separate trackin

[2019-10-11 18:24] tmatsuo commented on #811
I noticed that the builds started using 1.0.0 and our build broke :)

Anyways, I'd close this issue. It's serving well so that it caught the breakage ;)

[2019-10-11 18:27] #811 closed

[2019-10-11 19:59] philwo commented on #811
Hi @tmatsuo - yes, Bazel CI will use the latest stable release by default. Upgrades happen immediately after the release.

We do run downstream tests of Bazel HEAD and release candidates against well maintained projects (i.e. those that keep their CI builds green and apply pending migrations for incompatible flags) and will use this information to prevent accidental breakages, so hopefully in the

[2019-10-14 08:36] meisterT opened #848 "Submit doesn't cancel previous runs on same CL"
I thought that a newer run of the same CL would cancel any old runs, but it seems it doesn't work anymore:
![wAXS3DWNX3R](https://user-images.githubusercontent.com/418721/66738300-68963b00-ee6e-11e9-8337-1d3aed8cfbbd.png)

Perhaps caused by skipped mac os presubmit tests?

[2019-10-14 08:43] philwo commented on #848
I think this concerns only our Google-internal presubmit trigger, so I've filed this in our internal bug tracker as b/142629249.

[2019-10-21 19:20] nlopezgi opened #854 "Mac does not have python2 in path"
I'm getting the following error on BuildKite macos:
[code]
I checked with the shell_commands and it does seem there is no such file in the path. Seems it should be there if python autodetected toolchains needs it?
Context: https://github.com/bazelbuild/rules_k8s/pull/453

[2019-10-21 19:39] nlopezgi commented on #854
Managed to get around this problem by manually creating the python2 symlink in /tmp/bin and hardcoding a path, nasty but works as a temporary runaround:
[code]

[2019-10-21 19:49] keith commented on #854
Related fix https://github.com/bazelbuild/bazel/pull/9402

[2019-10-22 13:11] thomasvl opened #855 "Looks like some status messages aren't getting set back to github"
Looking at https://github.com/bazelbuild/rules_apple/commits/master and https://github.com/bazelbuild/rules_swift/commits/master, the majority of the recent commits show a yellow dot because some checks haven't completed.  If you click thru to the buildkite pages, they appear to be done.  So something seems to be keeping buildkite from delivering the final status back to github so the commits can

[2019-10-23 09:16] philwo commented on #855
Mhm. The yellow dot is a "/pr" commit status which should only be generated for pull requests by Buildkite. I'm not sure why it's showing up for commits in the master branch, too.

[2019-10-23 14:55] thomasvl commented on #855
Maybe because the commit happened on a PR, and eventually a merge commit _pulled_ it over to master?

[2019-10-24 17:10] Yannic opened #857 "Request to add new project grpc/grpc"
- I want to test the following project on Bazel CI: https://github.com/grpc/grpc
- I confirm that the project has a `.bazelci/presubmit.yml` file https://github.com/grpc/grpc/pull/20784.

See https://github.com/bazelbuild/continuous-integration/pull/653#issuecomment-493624684

//cc @jtattermusch

[2019-10-24 17:29] Yannic opened #858 "Request to add new project grpc/grpc-web"
- I want to test the following project on Bazel CI: https://github.com/grpc/grpc-web
- I confirm that the project has a `.bazelci/presubmit.yml` file https://github.com/grpc/grpc-web/pull/665.

//cc @stanley-cheung

[2019-10-25 14:46] hlopko opened #859 "Proposal to allow project owners to be notified about incompatible changes"
Hello excellent productive EngProdExcellence engineers :)

We discussed before that it would be useful for project owners to be notified about an incompatible changes that they need to migrate for.

Right now we have one big pipeline that builds all downstream projects and shows one global summary. If we could also create a per-project pipelines that only run one project against all incompatible c

[2019-10-25 15:08] fweikert commented on #859
I actually implemented this feature some time ago, but haven't merged the code yet since it's blocked by an open PR.

Commit: https://github.com/fweikert/continuous-integration/commit/df4f466a98b495218e7e2d60cae73f2bec89977c

Pipeline: https://buildkite.com/bazel/bazel-federation-bazel-rc-plus-incompatible-flags

Settings:

[code]

Example: https://buildkite.com/bazel/bazel-federation-bazel-rc-plu

[2019-10-25 15:47] fweikert commented on #859
The feature PR is https://github.com/bazelbuild/continuous-integration/pull/837, blocked by https://github.com/bazelbuild/continuous-integration/pull/838

[2019-10-28 07:35] philwo commented on #859
@fweikert I wasn't aware that #838 is needed for a production feature. From the description it sounded like it was just useful for developers to test scripts (which is nice, but IMHO doesn't warrant the added complexity).

If you need that PR and don't see a simpler way to do it, feel free to merge it.

[2019-10-28 10:02] fweikert commented on #859
#838 is not really needed, it was just in the same branch. I cherrypicked the important commit into a separate branch and merged it.

However, merging 838 would still be nice since otherwise we have to change all the URLs in bazelci.py whenever we want to test something.

[2019-10-28 12:39] #859 closed

[2019-10-28 12:50] fweikert commented on #859
Documentation: https://github.com/bazelbuild/continuous-integration/tree/master/buildkite#testing-with-incompatible-flags

[2019-10-28 13:14] fweikert commented on #859
Example run: https://buildkite.com/bazel/bazel-federation-bazel-rc-plus-incompatible-flags/builds/12

[2019-10-31 14:10] philwo commented on #854
macOS machines generally do not have a "python2" in their PATH.

macOS 10.14.6 has these in /usr/bin:
/usr/bin/python
/usr/bin/python2.7

I think the real bug is that we're expecting a "python2" file to exist. The fix that @keith linked seems fine to me.

[2019-10-31 14:10] #854 closed

[2019-10-31 14:50] philwo commented on #844
All done! :) I granted you admin access to the three pipelines so that you can setup webhooks for your repos yourself.

Let me know if you need anything else here.

[2019-11-03 05:23] jmillikin commented on #844
Thanks! Webhooks set up successfully, and builds are green.

[2019-11-03 05:23] #844 closed

[2019-11-07 16:35] fweikert opened #869 "Notify (downstream) projects about required migrations"
Currently we have two ways of testing upcoming incompatible flags on CI:

1. A downstream pipeline: https://buildkite.com/bazel/bazelisk-plus-incompatible-flags
2. Individual pipelines with "bazelisk --migrate": https://github.com/bazelbuild/continuous-integration/blob/master/buildkite/README.md#testing-with-incompatible-flags

However, in both cases the project owners never get notified about any

[2019-11-07 16:35] fweikert commented on #869
cc @laurentlb @hlopko

[2019-11-07 21:53] jin commented on #869
Looking forward to this.

[2019-11-08 07:01] hlopko commented on #869
This would be great! It would allow rules maintainers to migrate the rules as quickly as possible, leaving more time for leaf projects to catch up. Many maintainers are actually happy to migrate their projects, just that they don't proactively check the bazelisk pipeline often. We've heard Tensorflow or upb explicitly ask for something like this. I'm sure protobuf folks would also appreciate these

[2019-11-14 17:47] laurentlb commented on #869
Any ETA for this?

Any simple solution would be helpful, even if it sends a weekly summary (with all the projects) to a single email address (we would then tell the owners to subscribe to it).

[2019-11-14 17:52] fweikert commented on #869
I can start working on this on Tuesday next week

[2019-11-15 14:50] aiuto commented on #869
cc: @aiuto

[2019-11-15 15:02] philwo commented on #869
@fweikert Thank you!! :) I'll put it on our whiteboard.

When you're ready on Tuesday, before you start coding, could you outline a quick plan here how you would do it? I would like to make sure that we all agree on how the first version should look like.

[2019-11-15 19:47] ali5h opened #870 "Request to add new project [rules_pip]"
- I want to test the following project on Bazel CI: [rules_pip](https://github.com/ali5h/rules_pip/)
- I confirm that the project has a `.bazelci/presubmit.yml` file.

[2019-11-23 00:08] attilaolah opened #871 "Request to add new project attilaolah/bazel-tools"
- I want to test the following project on Bazel CI: http://github.com/attilaolah/bazel-tools
- I confirm that the project has a `.bazelci/presubmit.yml` file.

[2019-11-23 00:20] attilaolah opened #872 "Request to add new project attilaolah/math"
- I want to test the following project on Bazel CI: https://github.com/attilaolah/math
- I confirm that the project has a `.bazelci/presubmit.yml` file.

[2019-11-25 14:30] fweikert commented on #869
Didn't have time for this issue last week, so here we go:

I propose to add a new flag (--notify_...) to bazelci.py, which is simply forwarded to aggregate_incompatible_flags_test_result.py in order to not clutter bazelci.py any more.

If the flag is passed to aggregate_incompatible_flags_test_result, this script does the following:
For every project that needs migration, it reads the GitHub repo

[2019-11-25 14:41] philwo commented on #869
Alternatively maybe one issue per flag - what do project owners think would work better for them?

[2019-11-26 05:08] chenrui333 opened #874 "Request to add new project rules_openapi/rules_avro"
- I want to test the following projects on Bazel CI:
    - https://github.com/meetup/rules_openapi
    - https://github.com/chenrui333/rules_avro/
- I confirm that the project has a `.bazelci/presubmit.yml` file.

Thanks!

[2019-11-26 05:08] chenrui333 commented on #874
Relates to https://github.com/meetup/rules_openapi/pull/25

[2019-11-27 04:13] chenrui333 commented on #874
cc @philwo

[2019-11-27 18:31] aldersondrive opened #876 "Add OpenBSD CI tests"
Porting Bazel to OpenBSD is underway in https://github.com/bazelbuild/bazel/issues/10250. Ideally, once the port is complete, the continuous integration tests would run for OpenBSD as well, to help ensure that the OpenBSD port remains functional.

@hlopko suggested that I file an issue on this topic in this repository.

@philwo FYI

[2019-11-28 06:35] philwo opened #877 "Test Bazel with Xcode CLT"
To at least try to prevent bugs like https://github.com/bazelbuild/bazel/issues/10328.

[2019-11-28 11:40] philwo commented on #876
I'll look into this when I do the next round of work on our CI. :)

Things we have to find out:
[ ] How to run OpenBSD VMs on GCE?
[ ] Does Buildkite Agent work well on OpenBSD? They do provide release binaries for that platform, so I guess it's fine.

[2019-12-13 23:34] fweikert opened #880 "api test lol"
this is a big issue

[2019-12-13 23:35] fweikert opened #881 "api test lol"
this is a big issue

[2019-12-13 23:37] fweikert opened #882 "api test lol"
this is a big issue

[2019-12-13 23:38] fweikert opened #883 "api test lol"
this is a big issue

[2019-12-13 23:40] #880 closed

[2019-12-13 23:40] #881 closed

[2019-12-13 23:40] #882 closed

[2019-12-13 23:40] #883 closed

[2019-12-14 17:24] hlopko commented on #869
I personally would prefer one issue per flag, so issues can be assigned to multiple people and their progres tracked independently.

[2019-12-17 17:02] meteorcloudy opened #886 "Print simple commands for reproducing CI build failure"
This FR is brought up by @ulfjack at https://github.com/bazelbuild/bazel/issues/10425#issuecomment-566430329

[2019-12-18 14:23] fweikert commented on #869
Tomorrow's pipeline run will use this feature.

[2019-12-19 04:57] junyer opened #887 "Flag --incompatible_no_implicit_file_export will break projects in Bazel 1.2.1"
50+ issues have just been filed across the projects using Bazel CI, but I don't believe that the errors are the fault of the projects themselves. For example, looking at the errors for RE2:

[code]

[2019-12-19 12:17] fweikert commented on #869
Several issues were created, but there are still some action items:
- [] Display correct Bazel version
- [] Fix markdown links
- [] Improve issue text (some users were confused)
- [] Investigate why projects were notified about a seemingly unrelated breakage

[2019-12-19 12:24] philwo commented on #869
I would also provide an easy way to opt-out (per repo), in case sin some users do not want these issues to be filed automatically. Maybe by asking the user to send us a PR that adds their repo to a blacklist. Even if no one ends up opting out, it’s polite to offer the possibility.

[2019-12-19 12:56] fweikert commented on #869
Yes, I already had a plan for that. I updated the task list accordingly.

[2019-12-19 14:24] j3parker opened #890 "Request to add new project rules_brotli"
I want to test the following project on Bazel CI: https://github.com/Brightspace/rules_brotliI

I confirm that the project has a `.bazelci/presubmit.yml` file.

[2019-12-19 14:47] thomasvl opened #891 "Make --incompatible filing smarter about deps"
rules_swift/rules_apple got a few issues filed for `--incompatible-*` things, but in starting to look at them a few of them seems to be because of things that the rules in turn depend on.  It would be nice if the auto handling was smarter and realized when when there is a dependency with an issue, and included that info in the issue.  Because until that dependency is fixed, the rules set can't upd

[2019-12-19 15:06] thomasvl opened #893 "Issue seems to have been filed, but info doesn't show any breaking information"
We had https://github.com/bazelbuild/rules_apple/issues/672 filed, but looking at the referenced log, it shows the whole step as green, does list the flag under _Migration is needed for the following flags:_, but in the output, there doesn't appear to be anything to say what actually failed to let one see what the problem was; attached is the screen show of the UI I'm seeing.

![Screen Shot 2019-1

[2019-12-20 05:17] achew22 commented on #891
+1. I just attempted to look into an issue for `bazel-watcher` but I'm not sure how to address an issue in `@bazel_tools`, isn't that a part of the main part of Bazel?

[code]

Would it be possible to compute a DAG of project dependencies and notify you only once your dependencies have finished migration on that front?

[2019-12-20 05:41] alexeagle commented on #893
Same for rules_nodejs, I suspect these bot-filed issues were for 1.2 and no longer apply?

[2019-12-20 11:37] drigz commented on #891
@achew22 FYI, I hit the same error and commented on the migration issue: https://github.com/bazelbuild/bazel/issues/10225#issuecomment-567896050

[2019-12-20 22:06] jayconrod commented on #893
Same for rules_go. I found the test results hard to read. Everything's green, but it you click through the disclosure triangles for some of the steps with flags, there are errors. Only some of the steps though, and only on some platforms. It's hard to find what went wrong.

The actual issues aren't very helpful either. They should link to the tracking issue for each incompatible flag with migratio

[2019-12-23 15:03] thomasvl opened #903 "Status of --incompatible* issues"
On the 18th, a bunch of rule sets got issues filed for different --incompatible* flags.  But looking at https://buildkite.com/bazel/bazelisk-plus-incompatible-flags, it seems like those flags are no longer being tested.  So…

What's the deal?  Should you be closing all those issues you opened on other project?  Is there any other guidance for them now that the flags aren't being monitored?

[2019-12-23 15:15] fweikert commented on #903
I'm still working on fixing the notification feature (see commits for https://github.com/bazelbuild/continuous-integration/issues/869). As soon as the feature is done, a new set of issues with correct details will be created.

[2019-12-23 15:21] thomasvl commented on #903
Should all the ones previously created be closed out?

[2019-12-23 15:23] fweikert commented on #903
Yes, that would make sense.

[2019-12-23 15:33] fweikert commented on #893
There were several bugs related to the title and content of issues, all of which I have fixed. You should see new issues soon.

For example, the version number 1.2.1 was wrong (since we only flip flags in major releases).
@thomasvl Unfortunately Buildkite truncates large logs, so you have to click on "Download" in the top right corner to see the error.

[2019-12-23 15:41] fweikert commented on #893
There will also be fewer issues since we released 2.0 in the meantime.

[2019-12-23 19:41] fweikert commented on #869
Example of an incompatible flag without target release: https://github.com/fweikert/bugs/issues/313
Example of a flag that will be flipped in 3.0: https://github.com/fweikert/bugs/issues/329

[2019-12-26 19:56] AustinSchuh opened #912 "Automatically notify specific people when filing incompatible change bugs"
For some background, I help with the Bazel build of flatbuffers.  I don't check the issue tracker very often.

I would like to be either auto-assigned any incompatible change bugs, or at least be automatically notified or mentioned or something to trigger an email.  https://github.com/google/flatbuffers/issues/5670#issuecomment-569104627 for example.  Is there some way to do this?

[2019-12-26 20:16] #869 closed

[2019-12-26 21:49] thomasvl commented on #903
It looks like some are getting recreated when the projects can't fix them (the issue is in the bazel release) - https://github.com/bazelbuild/rules_swift/issues/368

[2019-12-27 15:23] thomasvl opened #915 "Projects getting spammed with repeated bugs that are in dependencies and we can't directly fix"
https://github.com/bazelbuild/rules_swift/issues/369
https://github.com/bazelbuild/rules_swift/issues/368
https://github.com/bazelbuild/rules_swift/issues/358

Please stop filing these since the projects can't do anything about them themselves.

[2019-12-27 17:02] fweikert commented on #915
Sorry for the noise. The new issues are the „real“ ones, whereas the previous ones shouldn’t have been filed due to several bugs. There won’t be any more issues unless someone creates a new flag.

I’ll see whether we can add some logic for handling upstream breakages.

[2019-12-28 04:27] junyer commented on #915
At this point, 390+ issues have been filed across 50+ projects. Please stop @bazel-flag-bot from sending notifications for now. Which is to say, either put it into dry-run mode or turn it off entirely.

Also, given that these problems started nine days ago, please write a postmortem. It appears that various things could have been done better. Do Bazel folks not have a freeze at this time of year?

[2019-12-30 11:22] fweikert commented on #915
# Mini PM

## Summary

A new feature was rolled out that filed > 300 issues across > 50 GitHub repositories, most of which had incorrect titles & contents, and all of which were not actionable due to a bug in Bazel.

## Context

The Bazel team maintains a [pipeline](https://buildkite.com/bazel/bazelisk-plus-incompatible-flags) on its CI that tests several projects with incompatible flags that are

[2019-12-30 11:24] fweikert commented on #903
Wrote a mini PM: https://github.com/bazelbuild/continuous-integration/issues/915#issuecomment-569651706

[2019-12-30 11:25] fweikert commented on #869
Wrote a mini post-mortem about the launch of this feature: https://github.com/bazelbuild/continuous-integration/issues/915#issuecomment-569651706

[2019-12-30 11:29] fweikert commented on #915
Regarding the freeze: We do have a production freeze inside Google, which meant that I finally had time to work on this Bazel-only feature (which isn't affected by the freeze).

[2019-12-30 15:33] thomasvl commented on #903
Closing this out since I got the status on these original issues and it seems like there are other issues open to track improvements to the system.

[2019-12-30 15:33] #903 closed

[2019-12-30 15:37] thomasvl commented on #915
@fweikert thanks for the write up.

Is the system able to look at closed issues on the repos before filing something? (can it look for open issues?) i.e. - should it be able to realized something was already filed (and maybe closed) and thus reopen/comment on that other issue rather than opening up another one?

[2019-12-30 15:48] fweikert commented on #915
Yes, the script checks the title of all existing issues created by bazel-flag-bot, and does not file a new issue if there is already one for a certain (flag, project, Bazel version) combination.

For example, if the script created an issue titled "Flag --incompatible_foo will break Envoy in Bazel 3.0", it will never create a new issue for Envoy and --incompatible_foo, unless we decide to postpone

[2019-12-31 05:33] junyer commented on #915
+1. Thank you, @fweikert.

[2020-01-21 10:25] meteorcloudy opened #921 "Android Testing is broken after Windows slaves upgrade"
https://buildkite.com/bazel/android-testing/builds/623#0d2dcafa-7c62-46a8-8a81-ef2477e76d54
[code]
/cc @philwo
Can you help check if the Android SDK installation is correct?

[2020-01-21 11:35] philwo commented on #921
We upgraded the Android Build Tools some time ago to 29.0.2, so their hardcoded 28.0.2 version is probably no longer installed. Could they bump the version to 29.0.2?

[2020-01-21 11:38] philwo commented on #921
I sent them a PR: https://github.com/android/testing-samples/pull/304

[2020-01-21 12:16] #921 closed

[2020-01-23 08:11] laszlocsomor opened #924 "Android Testing fails on Windows with Bazel@HEAD"
At https://github.com/android/testing-samples/commit/7e31acea87325ff61b28c12d5c6dac513a2ece44 with Bazel@HEAD (https://github.com/bazelbuild/bazel/commit/5bfe4ba1e3411b08e3d2cfd8fed657d067c44043) on Windows, Android Testing is failing due to missing tools.

Filing it under https://github.com/bazelbuild/continuous-integration and not under https://github.com/android/testing-samples because I suspec

[2020-01-23 08:17] philwo commented on #924
Hi,

thanks for reporting. This is a duplicate of https://github.com/bazelbuild/continuous-integration/issues/921. The Windows issue was fixed upstream (they pinned their build tools to a specific, no longer supported version). The project has to get their pipeline green to update the "last green commit" that's used in the downstream pipeline (Bazel@HEAD) though, so that it picks up that patch. It

[2020-01-23 08:17] #924 closed

[2020-01-23 08:21] laszlocsomor commented on #924
Thanks for the clear explanation!

[2020-01-28 12:00] philwo commented on #874
Hi @chenrui333,

I'm so sorry that it took so long :( I created the pipelines on Bazel's CI now.

Here are the first runs:
- https://buildkite.com/bazel/meetup-rules-openapi/builds/1
- https://buildkite.com/bazel/chenrui333-rules-avro/builds/1

I sent you a Buildkite invite to your e-mail - once you accept it, I can add you to the teams with admin access to the two projects. Then you can configure

[2020-01-28 18:42] c-parsons commented on #921
This is still failing on Windows even after this has been merged.

[2020-01-28 19:49] bcsgh opened #926 "Request to add new project bcsgh/bazel_rules"
- I want to test the following project on Bazel CI: https://github.com/bcsgh/bazel_rules
- I confirm that the project has a `.bazelci/presubmit.yml` file.

[2020-01-29 05:42] ittaiz opened #927 "Bazel-flag-bot should link to buildifier auto fix where applicable"
Buildifier has the option to automatically [fix](https://github.com/bazelbuild/buildtools/blob/master/WARNINGS.md) some incompatible flags.
It can be very useful to have the issue opened by the bazel-flag-bot tool link to this so that rule owners don't have to manually do what a tool knows how to do.
For example we (rules_scala) got this [issue](https://github.com/bazelbuild/rules_scala/issues/893

[2020-01-29 18:47] ittaiz commented on #891
+1

[2020-01-29 22:03] laurentlb opened #929 "Bazel release - invalid developer directory '/Applications/Xcode10.2.1.app'"
Command run:
[code]

This results in a failure on macos: https://buildkite.com/bazel-trusted/bazel-release/builds/127#4f738b03-fa8f-4162-aa00-44db615aeacd

[2020-01-29 22:05] laurentlb commented on #929
cc @philwo

[2020-01-29 22:08] philwo commented on #929
Ohh, I see! Let's keep the failed step like it is for now - the solution is simple, but I have to do a quick check of why we pinned the release builds to an old Xcode version tomorrow. 🤔 We can then click "retry" on Buildkite for the macOS job and it should just work.

[2020-01-29 22:11] laurentlb commented on #929
Sounds good!

[2020-01-30 10:37] meteorcloudy opened #930 "rules_d failing after macOS upgrade"
https://buildkite.com/bazel/rules-d

/cc @philwo

[code]

[2020-01-30 10:38] philwo commented on #930
rules_d needs to update their compiler to be compatible with macOS Catalina: https://issues.dlang.org/show_bug.cgi?id=20019

[2020-01-30 10:39] philwo commented on #930
The repo seems pretty unmaintained. Maybe it's enough to just bump the versions here: https://github.com/bazelbuild/rules_d/blob/master/d/d.bzl#L571 ? 🤔

[2020-01-30 10:49] meteorcloudy commented on #930
@damienmg Can you help upgrade the compiler of rules_d?

[2020-01-30 14:53] philwo commented on #929
Fixed with https://github.com/bazelbuild/continuous-integration/commit/be135ec5ff94a8e32afa845dcc040664b08e11a0.

[2020-01-30 14:53] #929 closed

[2020-01-30 18:58] laurentlb opened #931 "//src/test/shell/bazel:archive_contents_test fails on MacOS"
When trying to make a candidate for Bazel 2.1, a test fails on MacOS:
https://buildkite.com/bazel/bazel-bazel/builds/11273#03201034-0f15-4b0e-b009-9773d3b6c79f

[code]

[2020-01-30 18:58] laurentlb commented on #931
cc @philwo

[2020-01-30 19:11] philwo commented on #931
That has been fixed in this commit: https://github.com/bazelbuild/bazel/commit/22e5cce600a8176504c8257b040deb4026de2e99

[2020-01-30 19:12] philwo commented on #931
If the failure doesn't block you, you can simply ignore the failure, otherwise the mentioned commit would fix this.

[2020-01-30 19:23] bcsgh commented on #926
If I can put more than one project in a single request:
https://github.com/bcsgh/bash_history_db
https://github.com/bcsgh/stl-to-ps
https://github.com/bcsgh/tbd

[2020-01-30 19:25] philwo commented on #926
Hi @bcsgh, thanks for your request! I'll get to this soon, either tomorrow or early next week and will get back to you here then!

[2020-01-30 19:36] laurentlb commented on #931
Thanks, I think I can ignore it.

[2020-01-30 19:36] #931 closed

[2020-02-05 11:15] meteorcloudy commented on #930
This is fixed.

[2020-02-05 11:15] #930 closed

[2020-02-05 11:17] meteorcloudy opened #932 "rules_foreign_cc failing after Windows machine update"
https://buildkite.com/bazel/rules-foreign-cc/builds/714
/cc @philwo
[code]

[2020-02-06 13:51] meteorcloudy commented on #932
This is fixed after reimaging Windows machines.

[2020-02-06 13:51] #932 closed

[2020-02-08 09:03] aldersondrive commented on #876
Recognizing that CI for OpenBSD probably has low priority: It could have prevented the breakage caused by https://github.com/bazelbuild/bazel/commit/314cd3353b018420598188cf54c3f97358baa2e3, which broke the build on FreeBSD & OpenBSD.

[2020-02-13 09:35] mostynb commented on #563
This feature would be useful for me, at least (working on bazel-remote). I can see that bazelci.py has a `--save_but` flag, but I'm not sure where to add it.

[2020-02-13 11:23] mostynb opened #938 "only the last entry in shell_commands can fail the build"
I was testing a presubmit check for bazel-remote, and I noticed that if I have a sequence of shell_commands and one fails in the middle but the final command succeeds, then the build still succeeds. Should this instead behave like `set -e` in bash?

Here's my testcase:
https://github.com/buchgr/bazel-remote/pull/191

I also noticed that if a shell builtin (eg `exit 1`) fails in presubmit.yml rathe

[2020-02-15 17:13] btwiuse opened #940 "Request to add new project k0s"
- I want to test the following project on Bazel CI: https://github.com/btwiuse/k0s
- I confirm that the project has a `.bazelci/presubmit.yml` file.

[2020-02-17 20:10] Yannic opened #941 "Pipeline succeeds if setup step fails"
If the first step of a pipeline fails (e.g. because the container couldn't be started), the whole pipeline is marked as successful when it shouldn't be. See https://buildkite.com/bazel/bazel-bazel-github-presubmit/builds/5453 as an example of that happening.

[2020-02-18 18:09] thomasvl opened #943 "Buildifier support doesn't warn/error for files that need formatting"
Apparently the buildifier formatting as changed, but bazel_skylib was passing the buildifier step, but the truth was files needed reformatting (https://github.com/bazelbuild/bazel-skylib/pull/235).  Should the setup be catching this rather then silently rewriting the files and not reporting anything?

[2020-02-18 18:10] thomasvl commented on #943
Looking at `--help`

[code]

So maybe passing `-mode=check` will get an error status instead?

[2020-02-18 18:18] laurentlb commented on #943
cc @vladmos

[2020-02-18 18:23] thomasvl commented on #943
Actually, it looks like maybe an attempt is run for this:

https://github.com/bazelbuild/continuous-integration/blob/67c573347144fe885ba563af0d7a68b8be2f8b8d/buildifier/buildifier.py#L205-L212

So maybe `-mode=check` is failing to report correctly?

[2020-02-18 18:29] thomasvl commented on #943
Buildifier does get it right:

[code]

So it is something on the CI side, looking at the past [skylib results](https://buildkite.com/bazel/bazel-skylib/builds/891#f3c77841-2870-4d00-b3a5-22f2364661c3), I'm not seeing the about put about downloading buildifier and running it either:

https://github.com/bazelbuild/continuous-integration/blob/67c573347144fe885ba563af0d7a68b8be2f8b8d/buildifier/buildi

[2020-02-18 18:36] thomasvl commented on #943
Got it, buildifier is reporting the files needed fixing to stderr, not stdout:

[code]

But https://github.com/bazelbuild/continuous-integration/blob/67c573347144fe885ba563af0d7a68b8be2f8b8d/buildifier/buildifier.py#L215 is checking stdout.

[2020-02-18 18:49] vladmos commented on #943
The proper way to fix it is to add the information to the json object that Buildifier prints to stdout when called with `--format=json` (and also exit with 0 so that the caller can safely parse the output), I'll send a PR to buildifier.

[2020-02-18 19:07] vladmos commented on #943
Apparently that's already implemented: if you call buildifier with `--mode=check --format-json` it will report `formatted: true|false` for each file.

[2020-02-25 08:29] laszlocsomor opened #951 "rules_android failing with missing Android SDK error"
https://buildkite.com/bazel/rules-android/builds/269#77fb09f3-74df-439d-b78e-1011a168d693

[code]

[2020-02-25 08:32] laszlocsomor opened #952 "bazel-bench failing with "Permission denied""
https://buildkite.com/bazel/bazel-bench/builds/475#b86b2ae7-40d2-4f61-8b3f-64d3e67b6baf

bazel-bench is failing because its `//:benchmark_test` cannot create `/benchmark_test`. @joeleba, this may be a bug in the test, or may be an infrastructure error (hence filing the bug under this repo).

[2020-02-25 09:22] meteorcloudy commented on #951
This is caused by rules_android itself, see https://github.com/bazelbuild/rules_android/issues/15

[2020-02-25 09:22] #951 closed

[2020-02-26 09:37] joeleba commented on #952
Fixed with https://github.com/bazelbuild/bazel-bench/pull/92

[2020-02-26 10:18] #952 closed

[2020-03-02 18:12] oquenchil opened #956 "CI using old Bazel commit"
CI is using Bazel at an old commit, the commit being used is:
4019199bcf3646d6b0ae6475b3222e7e1fdf6617

After syncing and at the time of the build, there were 3 other commits after that one.

The build is here:
https://buildkite.com/bazel/google-rules-cc-presubmit/builds/314#bfdd5e55-d283-4145-b250-386497f21da7

[2020-03-10 12:12] mostynb opened #963 ""Try Update Last Green Commit" step sometimes fails"
bazel-remote's scheduled bazelci builds sometimes fail even though an identical build on the PR succeeded earlier. Here are two examples:
https://buildkite.com/bazel/bazel-remote-cache/builds/765#24c5f205-547a-42e7-b873-fc8ed5bdfcc5
https://buildkite.com/bazel/bazel-remote-cache/builds/691#59e8a1d9-95b0-416d-8fe9-23016e5ef3f2

The failing step/job is "Try Update Last Green Downstream Commit", whic

[2020-03-16 08:31] meteorcloudy opened #964 "Bazel CI is flaky due to cloning buildkite docker plugin"
Bazel Auto Sheriff often reports flaky jobs failing like:
[code]
https://buildkite.com/bazel/bazel-auto-sheriff-face-with-cowboy-hat/builds/90

Is there a way we could cache this repo to prevent cloning from github every time?

This is also the cause for https://github.com/bazelbuild/continuous-integration/issues/963, because the flaky error will prevent updating last green commit and a rerun on t

[2020-03-17 10:13] philwo opened #965 "Incompatible flag diff script"
Sometimes, people flip incompatible flags, but forget to update the GitHub issue. The release manager then has to go through all flags manually and check their real status.

@laurentlb Had the following idea:

Sounds good. We should then also integrate it into the [release playbook](https://github.com/bazelbuild/continuous-integration/blob/master/docs/release-playbook.md) as a step.

[2020-03-17 13:52] fweikert commented on #965
There's "bazel help flags-as-proto" if you don't want to parse unstructured text. The default value has to be added to https://github.com/bazelbuild/bazel/blob/master/src/main/protobuf/bazel_flags.proto, but that' trivial.

[2020-03-17 16:10] #943 closed

[2020-03-17 16:11] #938 closed

[2020-03-17 16:16] thomasvl opened #966 "buildifier checks should use the json output rather than parsing stdout."
As mentioned by @vladmos in #943, the integration should likely be updated to use `--mode=check --format=json` rather than parsing stdout/stderr of a buildifier run, that should ensure bugs because out output formatting changes don't happen again.

[2020-03-23 18:56] achew22 opened #968 "Display Bazel's CI result in PR for grpc-gateway"
Thank you so much for setting up the CI system for Bazel. It looks to me like the CI has been running for a long time against PRs. Is there any way to turn it on for the `grpc-ecosystem/grpc-gateway` PR page? I would like to turn off our CircleCI integration for PRs which is often broken for no real reason. As an xoogler, I no longer have any admin permissions on the repo. Is it possible to use th

[2020-03-29 17:36] bcsgh commented on #926
Bump?
https://github.com/bcsgh/bazel_rules
https://github.com/bcsgh/utilities

[2020-03-31 17:22] philwo commented on #926
Hi @bcsgh! Sorry for the delay 😞 I'll get to this by end of this week, promised!

Cheers,
Philipp

[2020-04-08 11:32] laurentlb commented on #915
This shows that a flag was not ready. Maybe the flag owner should opt in, before the bot starts creating bugs.

Something easier to roll out: send a weekly email to a mailing-list (e.g. bazel-dev until we have something better) with the summary of the breakages. If there's an issue with the script or a flag, it can be discussed on the mailing-list, instead of having issues in 50 repos.

[2020-04-29 00:46] jin commented on #702
This is happening again.

https://github.com/bazelbuild/bazel/issues/11242

[2020-04-29 16:03] aiuto opened #976 "Request to add new project rules_pkg"
- I want to test the following project on Bazel CI:  https://github.com/bazelbuild/rules_pkg
- I confirm that the project has a `.bazelci/presubmit.yml` file.

[2020-04-29 18:31] keith commented on #197
We see this with bazel 3.1.0 on macOS occasionally too

[2020-04-30 17:50] achew22 opened #978 "CI build doesn't provide enough information to debug issue"
Recently I've been having issues with [builds on Windows](https://buildkite.com/bazel/bazel-watcher/builds/1137).

If you go over to the "Artifacts" tab, you'll see something like `e2e/output_runner/attempt_x.log` which right now points to this: https://storage.googleapis.com/bazel-untrusted-buildkite-artifacts/5ef93a2d-8865-471c-80b1-b0a3ee8c46dc/e2e%5Coutput_runner%5Cgo_default_test%5Cattempt_1.

[2020-05-04 11:18] philwo commented on #978
@achew22 The CI system already prints / uploads all information that Bazel provides. The build log contains the full stdout / stderr and the artifacts are the test logs uploaded as they're generated by Bazel without any processing.

Unfortunately the CI system does not know any more about this error than it prints. :(

The root cause seems to be this line:
[code]

I would modify whatever code prin

[2020-05-04 11:23] philwo commented on #976
Done: https://buildkite.com/bazel/rules-pkg

[2020-05-04 11:23] #976 closed

[2020-05-04 18:32] achew22 commented on #978
@philwo, that line comes from [Bazel itself](https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/buildtool/ExecutionTool.java;l=475?q=%22Source%20forest%20creation%22&ss=bazel). Are you saying this is a bug in Bazel?

[2020-05-04 19:48] philwo commented on #978
@achew22 It could be a bug in Bazel or it could be a bug in the tool driving Bazel here. For example, a classic problem is when one spawns a process, that spawns subprocesses, everything opens files all over the place, then you kill the main process and immediately assume that it's now safe to touch or delete the files that the processes generated. This fails because a) we have to wait for the pro

[2020-05-04 23:18] achew22 commented on #978
Unfortunately I don't have a windows box on which to rapidly iterate and appears to be a flake so this is more than I can handle. I'll close the issue and reopen if it becomes a regular occurrence.

[2020-05-04 23:18] #978 closed

[2020-05-14 20:33] attilaolah commented on #871
Closing in favour of GitHub Actions.

[2020-05-14 20:33] #871 closed

[2020-05-14 20:34] attilaolah commented on #872
Closing in favour of GitHub Actions.

[2020-05-14 20:34] #872 closed

[2020-05-14 20:39] philwo commented on #871
Sorry for not following up here, @attilaolah! 😞 I hope GitHub Actions works well! I just saw that they apparently install Bazelisk on their machines out of the box - this is really cool.

[2020-05-20 06:34] davido opened #980 "Connectivity issue to GitHub on the CI"
I'm wondering why some tests are failing on Bazel CI.

For example in:

https://buildkite.com/bazel/bazel-bazel-github-presubmit/builds/6074#52c9f049-c069-4386-8353-82ec0e0a401d

where I added java_tools release on GitHub, it is failing to fetch:

https://storage.googleapis.com/bazel-untrusted-buildkite-artifacts/52c9f049-c069-4386-8353-82ec0e0a401d/src/test/shell/bazel/workspace_resolved_test/att

[2020-05-20 06:45] philwo commented on #980
@davido We run most tests on CI without network access and instead inject the external repositories from the outside. This saves a lot of network traffic and I/O (because the Bazel integration tests don't have to extract the repository archives again and again).

You can look at this PR where I explained yesterday to someone else how to fix test failures like this: https://github.com/bazelbuild/ba

[2020-05-20 06:50] philwo commented on #980
I added an FAQ section to our docs and this question there now: https://github.com/bazelbuild/continuous-integration/blob/master/buildkite/README.md#my-tests-fail-on-bazel-ci-due-to-error-downloading :)

[2020-05-20 07:14] #980 closed

[2020-05-20 07:50] davido commented on #980
Thanks @philwo for your help, code pointers and FAQ. Will adapt my PR correspondingly ;-)

Some verification jobs for my PR were successful. Why would that be the case? Is connectivity only disabled for some jobs, while the other jobs are still fetching the data over the wire? Should this be fixed to be consistent?

[2020-05-20 08:00] davido commented on #980
Unrelated to this issue, but one crucial link description is missing in the documentation:

https://github.com/bazelbuild/continuous-integration/blob/master/buildkite/README.md#useful-links

If one test is failing, then the log can be downloaded from the buildkite site. It took me quite some time to figure this out, under the section artifacts, ... This would be very usefel addition to the documen

[2020-05-27 12:41] attilaolah commented on #871
No worries!

[2020-06-03 08:14] philwo commented on #980
Yes, we cannot inject these repositories when running the tests on RBE, so tests running on that platform will fetch external repositories over the internet as before.

I think it's actually good to have both kind of tests - e.g. we get the speed-up and hermeticity testing on non-RBE platforms via injected repos, but we also test that without all that injection magic the tests still work fine (or

[2020-06-03 08:46] philwo commented on #980
Thanks for the suggestion. Fixed, see the new page: https://github.com/bazelbuild/continuous-integration/tree/master/buildkite#useful-links :)

[2020-06-03 08:51] davido commented on #980
Thank for clarifying.

Great! Thanks ;-)

[2020-06-10 19:04] achew22 opened #985 "Copybara doesn't seem to be running buildkite on exports of `bazel-skylib`"
I've been attempting to send a PR to bazel-skylib to [add a Gazelle generator to the repo](https://github.com/bazelbuild/bazel-skylib/pull/251). Unfortunately that repo doesn't seem to be in a state where it is passing CI.

Two questions:

1) Is there a mechanism like "force" to ignore linter errors? Can I add a directive in a commit message to say "buildozer errors are okay on this one"?
2) Is it

[2020-06-15 02:13] sophieball opened #986 "Request to add new project toxicity-detector"
- I want to test the following project on Bazel CI: https://github.com/sophieball/toxicity-detector
- I confirm that the project has a `.bazelci/presubmit.yml` file.

[2020-06-23 13:57] laurentlb opened #987 "Pipeline bazelisk-plus-incompatible-flags has buggy page"
See https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/542
Many flags are repeated 30 times on the page, which makes it hard to read.

[2020-06-30 07:56] meteorcloudy commented on #987
This pipeline went completely crazy... But we didn't make any significant change to our CI scripts, will do some investigation today!

[2020-06-30 08:50] meteorcloudy commented on #987
OK, I found the root cause is because we don't have `migration-3.3` label on github. @laurentlb, do you know why we didn't label the incompatible flags in bazel 3.3?

[2020-06-30 08:51] meteorcloudy commented on #987
I'll fix the CI build script to make sure it doesn't fall apart when no incompatible flags are found on github.

[2020-06-30 11:45] laurentlb commented on #987
@katre

[2020-06-30 12:19] katre commented on #987
When I was preparing the release, I searched for [`is:issue is:open breaking-change-3.3`](https://github.com/bazelbuild/bazel/issues?q=is%3Aissue+is%3Aopen+breaking-change-3.3), which returned zero issues, so I didn't bother creating the new label. I didn't realize this would break the CI pipeline. Should we update the [release playbook](https://github.com/bazelbuild/continuous-integration/blob/ma

[2020-06-30 12:21] katre commented on #987
Although now that I look again, I should have added that label for everything with `breaking-change-4.0`, as well, so I will add the label now.

[2020-06-30 12:23] katre commented on #987
I have created the label and applied it.

[2020-06-30 12:26] laurentlb commented on #987
Thanks!

As we do breaking changes only for major releases, we should have only breaking-X.0 labels (not 3.3). Yes, please update the playbook.

[2020-06-30 12:58] #987 closed

[2020-07-05 13:02] davido opened #1000 "Check whether "noci" tag in Gerrit code is still needed"
Gerrit code currently has disabled two test groups because of timeout on Bazel CI. See this CL: [2].

Can someone please verify, if Bildkite CI works now and we could remove those tests exlusion?

The revert in Gerrit project is here: [3], that was not merged yet.

//CC @philwo  @meteorcloudy .

[1] http://ci.bazel.io/job/gerrit/BAZEL_VERSION=HEAD,PLATFORM_NAME=ubuntu_15.10-x86_64/2/console
[2] ht

[2020-07-07 21:38] thomasvl opened #1001 "Update the default Xcode?"
https://github.com/bazelbuild/continuous-integration/blob/master/buildkite/README.md#macos-using-a-specific-version-of-xcode seems to suggest not setting an explicit value, but the current default seems to be Xcode 11.1, which I believe was Oct of last year?

[2020-07-09 14:40] davido commented on #1000
The revert was submitted: https://gerrit-review.googlesource.com/c/gerrit/+/274335.
Let's see if this would break Gerrit build on Buildkite again.

[2020-07-17 00:36] haxorz commented on #964
I'm running into this on `BazelCI` for an internal CL: https://buildkite.com/bazel/google-bazel-presubmit/builds/36883.

[2020-07-17 10:26] meteorcloudy commented on #964
Yeah, our recent CI nightly failed only due to this error: https://buildkite.com/bazel/bazel-auto-sheriff-face-with-cowboy-hat/builds/216

/cc @philwo Do you have any idea on this?

[2020-07-17 10:59] philwo commented on #964
Hmpf, I agree this is really annoying. Let's add retry support for cloning plugins to the Buildkite Agent. I'll file an issue.

[2020-07-22 09:51] comius opened #1006 "Flogger needs Android 29"
After fix in bazel:
https://github.com/bazelbuild/bazel/pull/11737

Downstream project "Flogger" needs Android 29.

(Downstream build: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1573#4bcf1123-f2bb-4a59-b232-95290d726609)
Culprit: https://buildkite.com/bazel/culprit-finder/builds/421)

cc: @juliexxia, @katre

[2020-07-23 14:17] katre commented on #1006
Flogger has requires Android 29 since the last set of updates. Attempting to roll back https://github.com/bazelbuild/bazel/commit/20b95dd8245b0fa57d72c68ebffac633407c07b7 would hide the problem again, but not actually solve it.

We should update the CI to include Android 29 as well as 24 and 28.

[2020-07-23 14:20] philwo commented on #1006
I'll add Android 29 support to our CI.

[2020-07-23 14:28] katre commented on #1006
Looks like flogger uses [bazel-common](https://github.com/google/bazel-commo), which has required [Android 29](https://github.com/google/bazel-common/blob/d58641d120c2ad3d0afd77b57fbaa78f3a97d914/workspace_defs.bzl#L55) since https://github.com/google/bazel-common/commit/4c4c70bdf2a9f5bc9afdf2c27dfcb905cac2eea1, last October.

[2020-07-23 14:29] katre commented on #1006
Flogger itself doesn't use Android directly, so arguably they should push back on bazel-common over this, but I'm not sure what we can do about that.

[2020-07-23 14:32] coeuvre opened #1007 "Can't find kythe installation on docker image `ubuntu2004-java11-kythe`"
`kythe` is [installed at `/opt/kythe`](https://github.com/bazelbuild/continuous-integration/blob/master/buildkite/docker/ubuntu2004/Dockerfile#L136) for image `ubuntu2004-java11-kythe`. However, container is [mounted with a volume `/opt:/opt:ro`](https://github.com/bazelbuild/continuous-integration/blob/master/buildkite/bazelci.py#L1955) which makes `/opt` directory inside container is actually ho

[2020-07-23 20:15] philwo commented on #1007
@coeuvre Good catch. Ideally I would like to get away from the `/opt` mount, but the Android SDK and NDK are so big... last time we put them into the container directly, the download and especially extraction took a very long time. (Just so you know the history for this.)

Can we put it into `/usr/local/kythe`? Feel free to send a PR to the Dockerfile and you can also build and push the `ubuntu200

[2020-07-24 08:13] #1007 closed

[2020-07-25 01:56] belgradio-rs opened #1009 "Request to add new project [PROJECT_NAME]"
- I want to test the following project on Bazel CI: [URL_TO_GIT_HUB_PROJECT]
- I confirm that the project has a `.bazelci/presubmit.yml` file.

# Instructions (you can delete this section from the issue)

Welcome to Bazel CI! We are thrilled that you want to test your project with Bazel.
Please follow these steps to make the on-boarding experience as smooth as possible:

1. Add the URL of your pro

[2020-07-29 18:54] keith commented on #197
Created https://github.com/bazelbuild/bazel/issues/11867 to track

[2020-07-30 12:37] laurentlb opened #1012 "Permission denied on Windows tests (flaky)"
I see lots of Windows failures on this pipeline: https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/579
For example, I see 7 failures for the flag `incompatible_string_replace_count`, all of them seem flaky.

Examples of error messages:

[2020-08-06 08:23] margaritiko opened #1014 "Request to add new project googleinterns/dagger-query"
- I want to test the following project on Bazel CI: https://github.com/googleinterns/dagger-query
- I confirm that the project has a `.bazelci/presubmit.yml` file.

😊✨

[2020-08-06 10:10] fweikert commented on #1014
I've created the pipeline. The build is currently failing since you need top-level WORKSPACE and BUILD files: https://buildkite.com/bazel/dagger-query/builds/1#81b92aec-2cfd-46b3-ab11-1ab346494eae

Documentation for Bazel 2.1.0 [*]: https://docs.bazel.build/versions/2.1.0/build-ref.html

I'll send you an email with instructions on how to set up GitHub integration for presubmit testing.

[*] Is the

[2020-08-06 10:32] fweikert commented on #1014
I've also sent you invitations to join our Buildkite org. The pipeline is public, but as a member of the org you can edit its settings, too.

[2020-08-06 13:41] meteorcloudy commented on #1012
I can reproduce this issue locally, will look into it soon!

[2020-08-06 15:42] meteorcloudy commented on #1012
It looks like we are hitting something similar to https://github.com/bazelbuild/bazel/issues/7458

I haven't figured out exactly why, but enabling symlink support via `--windows_enable_symlink` seems to fix the problem.

[2020-08-10 09:00] #870 closed

[2020-08-10 14:02] meteorcloudy commented on #1012
OK, the reason of this failure is because the Java worker will hold the file handle of `C:\src\tmp\cbtx3svz\external\remote_java_tools_windows\java_tools\JavaBuilder_deploy.jar`.
When we change an incompatible flag that will cause Bazel to refetch the java tool (eg. `--incompatible_disable_depset_items`), Bazel will fail the [clean up](https://github.com/bazelbuild/bazel/blob/dd1d8419eeed402f10c13

[2020-08-11 11:07] laurentlb opened #1018 "bazelisk-plus-incompatible-flags: Gateway Time-out"
https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/591#453ea8eb-ade6-4be8-978f-97cdf1217910

The aggregation step fails due to timeouts

[code]

[2020-08-12 11:59] laurentlb commented on #1012
It still fails: https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/592#83a2bd3b-a04d-4dea-8aa1-3812ec39c251

[2020-08-13 15:06] cpovirk commented on #1006
Speaking as someone who has not enough _quite_ context on any piece of this :) (but who randomly stumbled across this thread -- to be clear, _not_ because I noticed a Bazel-Flogger problem):

- My understanding is that Android does recommend [installing](https://developer.android.com/studio/releases/build-tools) and [targeting](https://developer.android.com/distribute/best-practices/develop/target

[2020-08-17 16:52] c-parsons commented on #1006
Any updates here? Flogger continues to fail in buildkite.
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1603#5deed360-d6da-42e5-b43d-103912441e54

@philwo  any guidance on how we add Android 29 to CI? :)

[2020-08-18 12:41] laurentlb commented on #1012
Can we reopen this bug? Or I can file a new one.

[2020-08-18 14:15] meteorcloudy commented on #1012
Oh sorry, we can re-open this. Looks like my change only fixed the Bazel Federation case, but not for this one.

[2020-08-19 16:37] margaritiko commented on #1014
Thanks for the help with setup! 🚀

[2020-08-20 12:55] meteorcloudy commented on #1012
The bug is on Bazel side. Can you please help review the fix https://github.com/bazelbuild/bazel/pull/11982?

[2020-08-21 03:48] aiuto opened #1024 "A pipeline should be able to suppress some flags from .bazelci"
While preparing Bazel 3.5 I encountered this problem
- we flipped the default for a flag and removed it within the same release cycle.  --experimental_allow_incremental_repository_updates
- this caused rules_scala to break. https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1608#ceace0eb-4175-4b53-8717-71e722856fe6
[code]
- rules_scala depended on the flag true, so it had to set it f

[2020-08-21 08:47] meteorcloudy commented on #1012
Let's keep this open until we are sure the problem is fixed. We'll have to wait for the next month's Bazel release.

[2020-08-26 10:55] comius opened #1026 "Android testing project needs system images v19,v21,v22,v23"
Resolving https://github.com/bazelbuild/continuous-integration/issues/1006 the system images were removed.

Project "Android testing" needs them. Cannot upgrade it to v29, as the emulator is not supported by Bazel.

[code]

[2020-08-26 11:04] philwo commented on #1026
Oh, sorry! Bazel CI does not support running the Android emulator (anymore) as it requires support for Nested Virtualization. I thought "Android Testing" runs the tests that require the emulator on RBE and that the system images then would be directly embedded in the RBE container image?

But I can add them again if it helps, no problem.

[2020-08-26 11:12] comius commented on #1026
Android Testing is running without RBE
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1616#6a69ea82-2170-40e7-8abb-29b42f123901

However there is also rules_jvm_external running on RBE and failing:
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1616#3c32e2fb-ea4e-48eb-859c-fe1e8174c833

[2020-08-26 12:26] philwo commented on #1026
I'm building new images with the emulator and system images now and will retry the failed jobs then, will close this bug when everything is green again.

[2020-08-27 08:31] philwo commented on #1026
@jin Apparently "Android Testing" still needs the Android emulator, the system-images and Nested KVM support (because it tries to run the emulator) during the `bazel build` phase, which doesn't run on RBE: https://buildkite.com/bazel-testing/android-testing/builds/23#7df9fe0e-1e61-4a2b-b557-55327eeba490

Is this WAI? It's the last remaining blocker for disabling Nested KVM, which prevents us from

[2020-08-27 13:02] comius opened #1027 "Builds requiring numpy on MacOS fail"
Failing:
Bazel Federation (rules_python) on Mac
bazel-bench on Mac

Logs:
https://buildkite.com/bazel/bazel-bench/builds/669#8502fcfe-e487-49b2-9483-7d4ead6914a2
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1617#8068fcf6-58e0-4f1f-9f17-d4a6efc4abdf

Error at the end of the log:
"error: library dfftpack has Fortran sources but no Fortran compiler found"

[2020-08-27 13:06] philwo commented on #1027
Indeed, it looks like the Fortran compiler was lost during the last system maintenance. Not that I knew that we ever had one installed. 😅

I'll install it on the machines later today to fix this.

[2020-08-27 13:09] comius commented on #1027
rules_docker is also failing on Mac since Friday
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1617#e7d3c6a4-462c-4741-ae0c-989fbc406e1e

Something changed with docker? Logs don't show anything definite, except that only on MAC sha sums are different.

[2020-08-27 13:31] philwo commented on #1027
@comius Whoah. No idea regarding Docker. :/

@smukherj1 Do you know what might cause this?

[2020-08-27 13:35] smukherj1 commented on #1027
I looked into this a little bit. Some notes [here](https://github.com/bazelbuild/rules_docker/pull/1600#issuecomment-681924702).

Basically something's broken between rules_docker & RBE causing erroneous cache hits in Linux while the Mac CI fails. Need to figure out:
1. What's the missing dependency causing us to get erroneous remote cache hits?
2. What changed to cause the change in image digest?

[2020-08-28 10:11] philwo commented on #1026
Android Testing is green again, at last.

[2020-08-28 10:11] #1026 closed

[2020-08-31 14:07] philwo opened #1028 "Migrating to Zonal DNS causes bazel_sandboxing_test to fail"
When setting `VmDnsSettings=ZonalOnly` in our GCE project, this test fails:

[code]

Links:
- https://storage.googleapis.com/bazel-untrusted-buildkite-artifacts/ca4a96d6-19df-45f4-9ef6-1072bf75fed0/src/test/shell/bazel/bazel_sandboxing_test/attempt_1.log
- https://buildkite.com/bazel/bazel-bazel/builds/13731#ca4a96d6-19df-45f4-9ef6-1072bf75fed0

[2020-09-10 11:16] philwo commented on #1027
I'm installing the Fortran compiler on the testing Macs now, I hope this will not break anything and fix this... will report back.

[2020-09-14 08:42] gkousik opened #1030 "Support for go-1.15 version"
We are using bazel-ci in https://github.com/bazelbuild/remote-apis-sdks repository. One of our use cases it to support `go build ./...` of the repository in addition to `bazel build //...`.

We test to make sure that `go build` works as part of CI. We would like to use a new API from `go.1.15` but it seems that the latest version of go that is supported in `ubuntu1804` platform is `go-1.13`.

What

[2020-09-14 11:18] atetubou commented on #1030
There is code like
https://github.com/bazelbuild/continuous-integration/blob/b2b6568edf43303870efb36cbe9c2c04206a3f5d/buildkite/docker/ubuntu1804/Dockerfile#L127-L129
but it actually doesn't install Go?

[2020-09-14 11:50] philwo commented on #1030
I'm happy to upgrade Go on the machines to the latest version. It'll take me a day or so, as I have to finish other things today. Please ping me here on this issue if I don't follow up.

@atetubou Yes, indeed - we mount the Go installation from the host system, because otherwise our Docker containers would become very large.

[2020-09-15 13:29] atetubou commented on #1030
@philwo ping? how long will it take?

[2020-09-15 14:00] philwo commented on #1030
I'm building the images now, it should be done in ~2 hours or so. I'll let you know here. :)

Just to confirm - you only need this on Linux, right?

[2020-09-15 14:05] atetubou commented on #1030
Thank you!

Yes, as long as https://github.com/bazelbuild/remote-apis-sdks uses only linux in their CI.

[2020-09-15 14:09] gkousik commented on #1030
Yeah we use `ubuntu1804` platform - https://github.com/bazelbuild/remote-apis-sdks/blob/master/.bazelci/presubmit.yml#L16

[2020-09-15 21:22] philwo commented on #1030
I pushed the new VMs and containers to the staging area of Bazel CI, will check the results in a few hours and if all looks good, flip them over to production CI. 👍

[2020-09-16 05:57] philwo commented on #1030
This is done! The default Go version in the Docker containers is now 1.15.2. Please give it a try :)

Commits:
- https://github.com/bazelbuild/continuous-integration/commit/2cf26cd0e46610bd9c9eaab1aa9586d40367e83f
- https://github.com/bazelbuild/continuous-integration/commit/b74b647ac00fc2b83174f6ec1269bf8ea9c6880a

[2020-09-16 13:43] philwo opened #1033 "Install Xcode 11.7 on macOS machines"

[2020-09-16 13:50] philwo opened #1034 "git clone for PRs fails after upgrade to Buildkite Agent 3.23.1"
Log: https://buildkite.com/bazel/bazel-bazel-github-presubmit/builds/6941#07cd8d84-f495-4f45-a4e8-5e110509ed5e

[code]

[2020-09-16 15:53] keith commented on #1033
fwiw 12 is being released this week (GM yesterday) so it might be worth waiting and skipping this version

[2020-09-16 16:42] fweikert commented on #1034
Filed https://github.com/buildkite/agent/issues/1303

[2020-09-17 11:13] atetubou commented on #1030
Thank you! That worked in my PR.

[2020-09-21 16:35] philwo commented on #1033
Xcode 11.7 has been pushed to all machines.

@keith I'll add Xcode 12.0 as soon as I can get it from our internal mirror. 👍

[2020-09-21 16:35] #1033 closed

[2020-09-21 17:02] philwo opened #1035 "Add support for ubuntu2004 platform"
We already have this for Kythe, so it should just be a matter of adding the platform definition and verifying that everything still works fine on that platform.

[2020-09-21 17:22] philwo commented on #1001
I pushed a change to flip default Xcode to 11.7 in the testing org, let's see how it goes...

[2020-09-21 20:03] philwo commented on #1001
I verified that these pipelines are green with Xcode 11.7, so I'm going ahead with making it the default in Bazel CI:

- [X] Bazel postsubmit
- [X] rules_swift
- [X] rules_apple
- [X] apple_support
- [X] Tulsi

[2020-09-21 20:09] #1001 closed

[2020-09-21 20:09] #1030 closed

[2020-09-21 20:10] philwo commented on #1027
Fixed by installing the Fortran compiler.

[2020-09-21 20:10] #1027 closed

[2020-09-21 20:11] philwo commented on #956
This was due to a temporarily broken binary building pipeline in the trusted CI, which has been long fixed.

[2020-09-21 20:11] #956 closed

[2020-09-21 20:11] #887 closed

[2020-09-21 20:12] #893 closed

[2020-09-21 20:12] #915 closed

[2020-09-23 18:51] philwo opened #1037 "Investigate whether we can run GrimoireLab"
GrimoireLab is a toolset to gather and present OSS analytics and metrics, like "How long does it take us to close issues", "What is the distribution of contributions over individual contributors and companies".

More info: https://github.com/chaoss/grimoirelab

@sventiffe asked us to look into whether we can setup and host this.

[2020-09-28 13:59] comius opened #1038 "Upload tests logs from BEP fails"
This happened on bazelisk build after test failure:

[code]

Link: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1673#72e7b63c-bd1b-4ff1-a5b6-20943b5fbf4f

[2020-09-30 18:28] nacl opened #1039 "Linux (CentOS?) images should have `rpmbuild` installed"
In bazelbuild/rules_pkg#183, we have observed that the buildkite images do not have `rpmbuild(8)` in them, so we currently cannot run any RPM building tests in CI.

This can be solved by:

1) Building `rpmbuild` and related tools within `rules_pkg`
2) Build a custom rpm-building tool in `rules_pkg`
3) Including `rpmbuild` in one or more of the buildkite images

Of these, 1) and 2) are likely to be

[2020-09-30 18:52] philwo commented on #1039
If it’s documented here in the README.md that these rules need rpmbuild installed, I can install it in the containers, no problem. 👍

[2020-09-30 21:07] aiuto opened #1040 "rename 'master' branch to 'main'"

[2020-10-01 11:32] sid226 opened #1041 "Add CI support for s390x architecture"
Looking to add s390x support to the existing Bazel CI  to allow testing of the latest build and release binaries for s390x architecture.
Need some pointers to proceed. Hardware/VM access can be provided if needed. Happy to discuss. Thanks!

[2020-10-01 18:06] comius opened #1042 "Python2 on Ubuntu 20.04"
Toolchain resolution checks for correct python version and some Android Bazel tests require python2.

See for example:
https://buildkite.com/bazel/bazel-bazel-github-presubmit/builds/7089#f82daae5-1e31-4f4a-aaa4-d94716cbf494

[2020-10-02 13:46] #1042 closed

[2020-10-05 15:39] philwo commented on #1041
Hi @sid226,

Thanks for your offer! I'm already in talks with @ruixin-bao to get access to an s390x VM for these purposes, but it will take some time to get it all sorted out. I'll update this issue when there's any news. 👍

Cheers,
Philipp

[2020-10-05 16:02] philwo commented on #1039
I'm pushing new containers with rpmbuild installed in ~30 minutes or so.

[2020-10-05 18:03] #1039 closed

[2020-10-05 19:03] philwo commented on #1039
CentOS 7 containers have `rpmbuild` installed now.

[2020-10-06 18:25] katre opened #1044 "Support cross-compilation for arm64"
Instead of requiring builds take place on arm64 hardware, we should try to cross-compile from the current CentOS builder.

There are a few steps needed:
1.  Make sure the right tools are in place in the gcr.io/bazel-public/centos7-releaser:latest image
1.  Define the `cc_toolchain` entries for the tools, that support cross-compilation
1.  Define the `cc_toolchain_suite` (legacy) or `toolchain` and

[2020-10-06 18:26] katre commented on #1044
@philwo As a starting point, could you please capture the output of running `bazel query @local_config_cc//:all --output=build` on the current arm build machine?

[2020-10-06 18:31] katre commented on #1044
Once this is in, we could explore cross-compiling other architectures, although darwin and windows builds are trickier to manage from a linux.

[2020-10-06 19:26] philwo commented on #1044
This is with Bazel 3.6.0:

[code]

[2020-10-08 08:30] philwo opened #1045 "Upload info.json with metadata for each commit"
We currently store metadata (most importantly the sha256 sums) for published Bazel binaries: https://storage.googleapis.com/bazel-builds/metadata/latest.json

This is done here: https://github.com/bazelbuild/continuous-integration/blob/master/buildkite/bazelci.py#L3079-L3096

By this pipeline: https://buildkite.com/bazel-trusted/publish-bazel-binaries

We currently only keep the `latest.json`. It

[2020-10-20 15:22] #1045 closed

[2020-10-21 06:09] rupertks commented on #1045
Awesome :D

[2020-10-22 15:21] jayconrod opened #1055 "Pipelines that depend on RBE remote cache are failing"
Apologies if this isn't the right repo: let me know if I should file this somewhere else.

A couple examples:

* rules_go nightly build at `master`: https://buildkite.com/bazel/rules-go-golang/builds/2488
* Bazel Remote Cache at `master`: https://buildkite.com/bazel/bazel-remote-cache/builds/1321

Errors look like:

[code]

[2020-10-22 15:27] philwo commented on #1055
Thank you @jayconrod. I'm looking into this now.

[2020-10-22 15:30] ifoox commented on #1055
Hi Jay, this is a loadshedding issue on the RBE side. Our oncall is currently looking into it. Feel free to ping me internally if you need additional details, but hopefully we will have this resolved shortly. Are you still seeing the issue or did it just happen once?

[2020-10-22 15:38] jayconrod commented on #1055
Thanks for looking into this!

I'm still seeing the issue (as of ~20 minutes ago). I first noticed it when tests on a PR failed. They were still failing after a restart. Same deal with the nightly tests on the main branch.

[2020-10-22 17:09] keith commented on #1055
We see this externally a lot as well. I filed a ticket https://issuetracker.google.com/u/1/issues/171446864

[2020-10-23 16:21] keith commented on #1055
Note envoy was hitting this as well, so it's another project we might be able to tell this was fixed on https://dev.azure.com/cncf/envoy/_build/results?buildId=55198&view=logs&jobId=fa3d3e18-6969-5713-c3e7-3581195704fd&j=fa3d3e18-6969-5713-c3e7-3581195704fd&t=ba370bef-ca49-52f5-0c93-7c0c0f27c465

[2020-10-23 18:57] jayconrod commented on #1055
rules_go is no longer seeing any issues. BuildKite is passing again.

[2020-10-28 16:23] philwo opened #1056 "Can we re-enable macOS during Google Presubmits?"
We disabled macOS testing during presubmits due to performance concerns some time ago, but a lot of improvements have been rolled out in the meantime, like pre-extracted external deps for tests, sharding, more machines, ...

We regularly get questions from the team regarding this behavior. Maybe we can consider disabling it for now? (We shouldn't remove the overall mechanisms in case we need them

[2020-10-28 17:14] fweikert commented on #1056
Has to be fixed internally.

[2020-10-28 17:14] #1056 closed

[2020-11-06 05:03] bergsieker commented on #1055
To close the loop here: this was triggered by a server change that has mostly been rolled back. Unfortunately a handful of clusters won't receive the update until next week.

We've also root-caused and fixed the source of the failure so subsequent server releases won't cause issues.

[2020-11-16 14:40] philwo opened #1060 "Bazel CI Release Process should build and publish Bazel docker containers"
The current Bazel Docker containers are being built by the RBE toolchains team, but they asked us to take this on.

We should setup some tooling and a pipeline (?) to regularly automatically build current Bazel containers for all released versions.

[2020-11-16 17:39] fweikert opened #1061 "test"
test

[2020-11-16 17:39] #1061 closed

[2020-11-20 00:36] Yannic commented on #858
@philwo friendly ping? It's been a year and it would be great if we could onboard grpc-web onto Bazel-CI

[2020-11-20 00:36] Yannic commented on #857
@philwo friendly ping?

[2020-11-20 08:09] #444 closed

[2020-11-20 08:15] fweikert commented on #857
Done: https://buildkite.com/bazel/grpc-grpc/builds/1

You're a pipeline admin now (congrats!). Please follow these instruction to set up GitHub webhooks: https://buildkite.com/bazel/grpc-grpc/settings/setup/github

[2020-11-20 08:16] fweikert commented on #858
Done: https://buildkite.com/bazel/grpc-grpc-web/builds/1

You're a pipeline admin now (congrats!). Please follow these instruction to set up GitHub webhooks: https://buildkite.com/bazel/grpc-grpc-web/settings/setup/github

[2020-11-20 08:19] #858 closed

[2020-11-20 08:19] #857 closed

[2020-12-03 13:06] jmillikin opened #1066 "Please support linting BUILD and BUILD.bazel files in the same repository"
Currently the CI runner script looks for a file named `BUILD.bazel`, and if it finds one, ignores all files named `BUILD`. This doesn't work well for repos with both names -- for example, mostly using `BUILD` but naming the top-level file `BUILD.bazel` to avoid conflicts with a `build/` directory on case-insensitive filesystems.

It would be nice if this behavior could be overridden in `.bazelci/p

[2020-12-11 21:49] katre opened #1067 "Release scripts fail for Bazel 3.7.2rc1 on arm"
The ARM build for 3.7.2rc1 failed due to not finding the release branch. See https://buildkite.com/bazel-trusted/bazel-release/builds/197#1f193861-cb84-4146-b320-64ff12016780 for details:
[code]

I don't know if it has the wrong upstream, or just failed to sync first, but it's very confusing.

[2020-12-11 21:49] katre commented on #1067
Ping @philwo

[2020-12-11 23:21] bcsgh commented on #926
Bump?

[2020-12-15 20:02] davido opened #1072 "Add verification job for gerrit@RBE"
It would be great to extend gerrit verification job to run also on RBE (like Bazel itself).

Something like this works for me:

[code]

This would help detect Bazel RBE regressions, e.g.: https://github.com/bazelbuild/bazel/issues/12705.

[2020-12-16 01:20] keith opened #1073 "Xcode 12 support?"
Tulsi internally at google bumped to Xcode 12 https://github.com/bazelbuild/tulsi/commit/59ac17de84dabd7f3e44eac309b5af13c2468e7f, but it looks like that's not supported externally https://buildkite.com/bazel/tulsi-bazel-darwin/builds/1149#5fc5abbe-4635-43a9-89d8-0a87c59bc131

Is there any plan to update the public agents to support Xcode 12?

[2020-12-16 09:57] thii opened #1074 "Last green Bazel could not be downloaded"
https://buildkite.com/bazel/rules-apple-darwin/builds/3647#76b691ba-ad4b-41b2-889b-90a8bb932797

[2020-12-16 20:44] fweikert opened #1075 "Make "publish binaries" pipeline more robust"
Example failure:

https://buildkite.com/bazel-trusted/publish-bazel-binaries/builds/8525#7ce8bb29-4615-470e-a9aa-d20ede99e03d

This was an intermittent failure (all other builds, including a retry, succeeded) that went unnoticed until a user reported problems with Bazelisk: https://github.com/bazelbuild/continuous-integration/issues/1074

Two action items:
1. Investigate this particular flake
2. U

[2020-12-16 20:58] fweikert commented on #1074
There was a temporary problem with the pipeline that builds and uploads the binaries, which affected exactly this commit.

I published a new binary by retrying the failed task, and I also retried the failing task in your build, too. Everything is passing now.

[2020-12-16 20:58] #1074 closed

[2020-12-17 13:39] philwo commented on #1073
@keith Yes, definitely. Can’t promise I’ll get to it before I’m back from vacation beginning of January 2021 though.

[2020-12-17 16:57] katre opened #1077 "Release pipeline can't find origin/branch"
Stumbled into this during the 3.7.2 release. Some of the recent changes to https://github.com/bazelbuild/continuous-integration/blob/master/pipelines/bazel-release.yml aren't working with git, here's the error:

[code]

Full run is https://buildkite.com/bazel-trusted/bazel-release/builds/202#f4fc8ca5-1003-484d-9a51-88d8e81896bc

[2020-12-17 16:57] katre commented on #1077
I submitted aac713edbcef481f6ae1528f7e8905e3a2560ba3 to try and fix this, but it still didn't work and should be reverted when the overall issue is fixed.

[2020-12-17 16:58] katre commented on #1077
@meisterT updated the Buildkite config directly to use https://github.com/bazelbuild/continuous-integration/blob/1c44e16b8c652f8c9447e227c2ba883bc20130d1/pipelines/bazel-release.yml in order to unblock 3.7.2. We'll need to change this config back when the issue is resolved.

[2020-12-17 17:00] meisterT commented on #1077
To revert, we need to change
[code]
back to
[code]
here: https://buildkite.com/bazel-trusted/bazel-release/steps

[2021-01-02 12:28] limdor opened #1078 "Request to add new project rules_qt"
- I want to test the following project on Bazel CI: https://github.com/limdor/bazel_rules_qt
- I confirm that the project has a `.bazelci/presubmit.yml` file.

[2021-01-05 13:52] #1077 closed

[2021-01-05 13:53] meteorcloudy commented on #1077
This should now be fixed, I also changed the setup of steps back to `https://raw.githubusercontent.com/bazelbuild/continuous-integration/master/pipelines/bazel-release.yml`

[2021-01-05 13:59] katre commented on #1077
Thanks @meteorcloudy!

[2021-01-07 00:55] keith opened #1080 "Buildifier configuration?"
I noticed after this commit landed https://github.com/bazelbuild/rules_apple/commit/572aee29236aa6aa850484d5706b79aa2a098219 there were some buildifier issues I see locally:

[code]

That are not being caught on CI. Is there some configuration of paths we should be doing to include these files?

[2021-01-08 19:28] philwo commented on #1067
I think this was fixed by https://github.com/bazelbuild/continuous-integration/commit/1a045ef8af19aade33ee932fcb87fd1a39cad2be.

[2021-01-08 19:28] #1067 closed

[2021-01-13 09:38] comius opened #1081 "Build Ownership Migration"
Poking around buildkite I found on Bazel Downstream project (probably also other projects):

"This schedule uses the deprecated build ownership property, which will be removed January 30, 2020. Please migrate this schedule by removing build ownership before January 30, using the Remove Build Ownership button below.

Removing build ownership will remove the build association with the user Jakob Buc

[2021-01-13 09:39] comius opened #1082 "Build Ownership Migration"
Poking around buildkite I found on Bazel Downstream project (probably also other projects):

"This schedule uses the deprecated build ownership property, which will be removed January 30, 2020. Please migrate this schedule by removing build ownership before January 30, using the Remove Build Ownership button below.

Removing build ownership will remove the build association with the user Jakob Buc

[2021-01-13 14:26] fweikert commented on #1082
Can you please add a link to such a page? I don't see any messages.

[2021-01-13 15:01] #1081 closed

[2021-01-13 15:01] comius commented on #1082
https://buildkite.com/bazel/bazel-at-head-plus-downstream/settings/schedules/fbfdc764-e0d2-4bed-a430-c4b7dd816cf2

[2021-01-13 15:16] fweikert commented on #1082
I clicked the button for this particular pipeline. However, I don't think it's feasible to remove ownership for each pipeline manually. We should just wait until it's automatically removed on January 20th, since it's a no-op for us.

[2021-01-14 08:48] comius commented on #1082
Ack.

[2021-01-14 08:48] #1082 closed

[2021-01-18 15:33] fweikert commented on #1078
Are there any plans to merge your changes into the upstream project https://github.com/justbuchanan/bazel_rules_qt?

I'm just wondering which project should be tested here.

[2021-01-18 15:45] fweikert commented on #1078
I created https://buildkite.com/bazel/rules-qt since we can change the repo later, if needed.

If you send me an email to fwe@$searchcompany.com I can add you as a pipeline admin, which allows you to set up GitHub integration for presubmit.

[2021-01-18 15:46] fweikert commented on #1080
Which Buildifier version did you use on your machine?

[2021-01-18 15:51] #1014 closed

[2021-01-18 19:57] limdor commented on #1078
Hi @fweikert thanks for taking it. About your question, I still did not talk with @justbuchanan about how to do it. My plan is to contribute the upstream, indeed I already created a PR for it and I'm planning to create more https://github.com/justbuchanan/bazel_rules_qt/pull/9.
I would like to request at some point to be inside bazelbuild organization, but for that it needs to go to the bazelci an

[2021-01-19 16:15] kevingessner commented on #1060
@philwo Hello, any news here? This is still blocking us on smoothly upgrading Bazel past 3.5.

[2021-01-19 16:16] fweikert commented on #1078
There are basically two approaches:

1. Fetch dependencies during each build (e.g. https://github.com/plaidml/plaidml/blob/master/.bazelci/presubmit.yml)
2. Add dependencies to our docker images at https://github.com/bazelbuild/continuous-integration/tree/master/buildkite/docker

In the end it's a trade-off between presubmit performance vs docker image size. Approach 1 makes it easier to iterate,

[2021-01-19 17:23] keith commented on #1080
I'm installing via `go get`, I just updated to make sure this repros and it does, so I assume https://github.com/bazelbuild/buildtools/commit/ea23b22a5994820220102fcb8ddd0b7f0cb1fc0f at this point. I believe the corrections are valid though?

[code]

[2021-01-23 11:45] limdor commented on #1078
Thanks @fweikert I will try to go first for option 1.
Is there an option to install stuff as root? The easiest way would have been to install qt from apt-get doing:
`sudo apt-get install qt5-default`
but I saw that sudo does not work.
If not I will try to install it using the offline installers and see if I can do it without root.
I still should be able

[2021-01-25 10:13] philwo commented on #1060
@kevingessner Not yet, sorry :( But this is really important to me and I'll get to it as soon as I can, promised!

[2021-01-25 22:03] acmcarther opened #1084 "Request to add new project: google/cargo-raze"
- I want to test the following project on Bazel CI: https://github.com/google/cargo-raze
- I confirm that the project has a `.bazelci/presubmit.yml` file.:  https://github.com/google/cargo-raze/blob/master/.bazelci/presubmit.yml

I have already created a (probably broken) pipeline: https://buildkite.com/bazel/cargo-raze. Sorry if that proves to be inconvenient!

This project is a rules_rust "adjac

[2021-01-29 19:42] UebelAndre commented on #1084
@meteorcloudy do you have a quick moment to take a look at this 🙏 😅

[2021-01-31 15:34] meteorcloudy commented on #1084
Hi @acmcarther @UebelAndre , I fixed some setup in the pipeline setting and created daily build schedule for https://buildkite.com/bazel/cargo-raze.

Can you please take a look at the failing tests (especially on Windows)? Once this pipeline is green, I can add cargo-raze to our [downstream pipeline](https://buildkite.com/bazel/bazel-at-head-plus-downstream) so that it's tested with Bazel@HEAD and

[2021-02-01 15:58] UebelAndre commented on #258
Hello, wondering what the status of this issue is. There are some users of [rules_foreign_cc](https://github.com/bazelbuild/rules_foreign_cc) who use freebsd and are looking to upstream changes to improve support on the platform. Being able to test on this platform would be incredibly beneficial 🙏

[2021-02-03 01:33] acmcarther commented on #1084
Thanks for setting that up!

I've spent some time looking at this. It's pretty broken (from cargo-raze's own jank non-hermetic stuff). I'll continue looking tomorrow.

[2021-02-04 15:50] fweikert opened #1089 "Pushing a new Buildifier Docker image breaks the Buildifier step"
https://buildkite.com/bazel/rules-apple-darwin/builds/3868#0ff6f6b9-999a-42cf-9662-ca1a4f58cc25

"[FATAL tini (6)] exec /usr/local/bin/buildifier.py failed: Permission denied"

[2021-02-04 15:51] fweikert commented on #1089
I restored the previous image.

[2021-02-05 13:49] philwo commented on #1089
Mhm.. the error message sounds like the buildifier.py was not marked as executable.

[2021-02-08 21:33] c-parsons opened #1090 "rules_haskell broken Bazel@HEAD"
rules_haskell is broken on Bazel@HEAD and it looks like infra issues:

https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1903#81e5c204-6ddf-4452-85a5-65b950176c5a

[code]

Not sure how to go about diagnosing / debugging this...

[2021-02-09 10:50] meteorcloudy commented on #1090
I tried to reproduce in a docker container on one of the VM on Bazel CI.
It can only be reproduced with remote cache enabled, so it looks like a cache posion.
Maybe it's time to update https://github.com/bazelbuild/continuous-integration/blob/master/buildkite/bazelci.py#L1487 again?

[2021-02-10 11:50] philwo commented on #1073
I'll roll out new Xcode versions this evening.

[2021-02-10 16:19] philwo commented on #258
@UebelAndre Thanks for pinging this issue. I didn't have time to look into it yet and there's currently no one on the Bazel team with FreeBSD knowledge, but I'll see what I can do in the next weeks.

[2021-02-10 22:00] c-parsons opened #1093 "rules_nodejs broken on macos CI Bazel@HEAD"
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1906#44b4eb78-3a05-4ecf-abdb-dfa16b20ff86

Broken only on Bazel@HEAD, only on macos, verified it's not a one-off flake.

Failure has no culprit, looks like it might be machine configuration?
Not sure how to diagnose.

Error snippet:

(17:28:01) ERROR: /Users/buildkite/builds/bk-imacpro-1/bazel-downstream-projects/rules_nodejs/package

[2021-02-10 22:05] c-parsons opened #1094 "rules_python broken on CI Bazel@HEAD"
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1905#e9759395-101f-4047-b7c9-daa0fc4eb714

Broken only on Bazel@HEAD all OSes, verified it's not a one-off flake.

Failure has no culprit, looks like it might be machine configuration?
Not sure how to diagnose.

Error snippet:

(04:03:22) ERROR: /var/lib/buildkite-agent/builds/bk-docker-qfkh/bazel-downstream-projects/rules_python/exp

[2021-02-15 08:35] drigz opened #1095 "Presubmit checks not showing up"
I'm not seeing the presubmit checks show on the glog repository:

- The webhook is configured to hit https://webhook.buildkite.com/deliver/...
- Presubmits are running (example: https://buildkite.com/bazel/google-logging/builds/1395)
- Write access is enabled for "bazel-io"
- However, I'm not seeing the buildkite check status on the PR: https://github.com/google/glog/pull/611

Has something change

[2021-02-15 09:02] fweikert commented on #1095
https://buildkite.com/bazel/google-logging/settings/repository displays the following error:

Buildkite has temporarily turned off commit status updates for this build pipeline.
We kept getting 404's when trying to make API requests.

This can happen if you've recently enabled third-party access restrictions.

In which case you'll need to connect your Github account to Buildkite via the Buildkite

[2021-02-15 09:06] drigz commented on #1095
Thanks! Is it expected that I see "You don’t have the required access level to change this pipeline" when I try to load  the repo settings, or "You’re not allowed to change this organization" when I try to load "connect your Github accoutn to Buildkite"?

[2021-02-15 09:26] fweikert commented on #1095
I added you to the pipeline owners group. Can you please try again?

[2021-02-15 09:49] drigz commented on #1095
Since glog is in the google org, it seems like everything was set up already, and I just needed to reenable "Update commit statuses". Thanks for your help!

Aside: I noticed bazelci.py still points to the old glog-postsubmit.yml ([source](https://github.com/bazelbuild/continuous-integration/blob/2b4ee9f597d25a80800062224de55b8d4da056c3/buildkite/bazelci.py#L205)). This doesn't seem to be having an

[2021-02-15 09:49] #1095 closed

[2021-02-15 11:18] comius commented on #1090
On Friday & Saturday 2020-02-13 rules_haskell build failed with:
[code]

**libraries/base-4.13.0.0**

On Sunday & Monday 2020-02-15, rules_haskel build fails with:
[code]

https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1914#b45cae9a-86a7-4b0e-8d2b-fcdd812eed09

[2021-02-15 11:35] comius opened #1098 "upb broken with Bazel@Head on Mac"
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1914#c50bd664-9fb0-4155-a613-00d82e0615b2

Reported error:
[code]

[2021-02-15 11:37] comius opened #1099 ""Bazel Bench" broken with Bazel@HEAD on Mac"
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1914#c0830326-564d-4fab-9641-b7e75d0d3319

Error:

[code]

[2021-02-15 11:40] comius opened #1100 "rules_foreign_cc broken with Bazel@HEAD on Mac"
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1914#1aa940b2-9117-4c71-8704-6cf202207935

It looks cmake related.
Also related: https://github.com/bazelbuild/continuous-integration/issues/1098

[2021-02-15 20:44] brandjon opened #1102 "Add build badget to bazelbuild/starlark"
I'd like to add a build badge to bazelbuild/starlark. Looking at [BuildKite's docs](https://buildkite.com/docs/integrations/build-status-badges), the link to add a badge is found from the settings page on the [pipeline](https://buildkite.com/bazel/starlark/builds). But I don't appear to have access to that page.

Could you tell me what markdown to add to generate a link a la the one on stardoc's p

[2021-02-16 09:41] philwo commented on #1102
You can use this link:

[code]

[2021-02-16 09:42] philwo commented on #1102
I also made you an administrator of the pipeline, so the Settings page should work now. 😊

[2021-02-16 09:43] #1102 closed

[2021-02-16 09:59] philwo commented on #1100
Fixed by installing missing `cmake` on Mac machines and verified by successfully retrying the job.

[2021-02-16 09:59] #1100 closed

[2021-02-16 09:59] philwo commented on #1098
Fixed by installing missing `cmake` on Mac machines and verified by successfully retrying the job.

[2021-02-16 09:59] #1098 closed

[2021-02-16 10:05] philwo commented on #1099
Fixed with https://github.com/bazelbuild/bazel-bench/pull/115

[2021-02-16 10:05] #1099 closed

[2021-02-16 10:19] jin opened #1103 "Remote cache exceptions (Connection refused) on macOS workers"
Seeing this on rules_jvm_external:

https://buildkite.com/bazel/rules-jvm-external/builds/1892#c0c1580e-74c3-49af-905d-731c847aed26

[code]

[2021-02-16 10:22] philwo commented on #1103
I'm currently maintaining the remote cache server - these warnings should disappear once I'm done (~30 minutes). :) They should not cause the build to fail or any issues.

[2021-02-16 10:32] philwo commented on #1103
Should be fixed now.

[2021-02-16 10:32] #1103 closed

[2021-02-16 10:46] philwo commented on #1094
[Auto-Sheriff](https://buildkite.com/bazel/bazel-auto-sheriff-face-with-cowboy-hat/builds/431) identified this commit as the culprit: https://github.com/bazelbuild/bazel/commit/00805727b867d33fd922e63ca82b0d9825ad79fe

[2021-02-16 10:46] philwo commented on #1093
[Auto-Sheriff](https://buildkite.com/bazel/bazel-auto-sheriff-face-with-cowboy-hat/builds/431) identified this commit as the culprit: https://github.com/bazelbuild/bazel/commit/00805727b867d33fd922e63ca82b0d9825ad79fe

[2021-02-16 10:46] philwo commented on #1090
[Auto-Sheriff](https://buildkite.com/bazel/bazel-auto-sheriff-face-with-cowboy-hat/builds/431) identified this commit as the culprit: https://github.com/bazelbuild/bazel/commit/00805727b867d33fd922e63ca82b0d9825ad79fe

[2021-02-16 10:46] meteorcloudy commented on #1094
/cc @comius

[2021-02-16 10:50] philwo commented on #1073
Xcode 12.4 is now available and the default version on Bazel CI.

[2021-02-16 10:50] #1073 closed

[2021-02-16 10:50] meteorcloudy commented on #1093
/cc @lberki @comius

[2021-02-16 10:51] #1055 closed

[2021-02-16 11:41] lberki commented on #1094
Filed https://github.com/bazelbuild/rules_python/issues/419 .

[2021-02-16 12:19] comius opened #1105 "Bazelisk broken with Bazel@Head on Windows"
Logs:
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1915#5b5a924a-0e06-4ece-b13d-18161f44f6e2

Error message:
[code]

[2021-02-16 12:27] comius opened #1106 "CloudRoboticsCore broken"
Autosherif determined it's infra issue.

[code]

But it appears some of the modules the project depends on require Python 3:
[code]

[2021-02-16 12:32] fweikert commented on #1106
@philwo : related to your recent changes?

[2021-02-16 12:50] comius commented on #1093
Actually Auto-Sheriff determined another culprit: https://github.com/bazelbuild/bazel/commit/7149f578006a4ad0d51df69830a6986749b34df5.

[2021-02-16 13:06] comius opened #1107 "rules_swift broken on Mac"
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1915#78f59480-1dfb-4e39-bf5d-c5f37849eb71

Autosheriff claims it's infra change

Log:
[code]

[2021-02-16 13:33] philwo commented on #1106
We didn't have any changes on the Linux infra recently that I'm aware of. I would rather assume that this is caused by an unpinned Python dependency somewhere and that `rsa` recently dropped support for Python 2.x.

Looks like Cloud Robotics Core "fixed" this issue by removing all their Python stuff :D

- https://buildkite.com/bazel/cloud-robotics-core/builds/3938
- https://github.com/googlecloudr

[2021-02-16 13:33] #1106 closed

[2021-02-16 13:34] philwo commented on #1107
Possibly caused by upgrading our Xcode to 12.4. Upstream issue here: https://github.com/bazelbuild/rules_swift/issues/548

[2021-02-16 13:35] philwo commented on #1105
I'm pretty sure we didn't touch our Windows images in a long time :/ @meteorcloudy Any idea?

[2021-02-16 13:40] philwo commented on #1105
The job magically turned green again on the third try: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1915#9e108f5e-8798-445c-9732-2685e48c0efc 😅

[2021-02-16 13:42] joeleba commented on #1099
Thanks so much for the fix, @philwo!

[2021-02-16 13:58] meteorcloudy commented on #1105
We've seen this kind of failure before. It's due to something wrong with the https://buildkite.com/bazel-trusted/publish-bazel-binaries pipeline.

It somehow uploaded the bazel binary without embedded JDK  to
```gs://bazel-builds/artifacts/windows/968422dd6e6735b6066ccbe862b6bc6ab38ce4d6/bazel```,
which is the same as ```gs://bazel-builds/artifacts/macos/968422dd6e6735b6066ccbe862b6bc6ab38ce4d6/ba

[2021-02-16 14:01] meteorcloudy commented on #1105
Oh, it looks like something already went wrong in the Windows job.
https://buildkite.com/bazel-trusted/publish-bazel-binaries/builds/9000#8bd697c6-5788-47cb-8cd0-aee4f39ea210
[code]

This is so weird..

[2021-02-16 14:16] thii commented on #1107
I submitted a fix here: https://github.com/bazelbuild/rules_swift/pull/566.

[2021-02-17 08:53] philwo opened #1108 "Embed build timestamp into Bazel last_green binaries"
Bazelisk users like to use `last_green` to get the latest green Bazel version near HEAD. But because we don't embed the build timestamp in these binaries, it's hard to verify how fresh the binary you're getting actually is:

[code]

Would be cool if we could embed the timestamp there (ideally of the Git commit instead of the actual build time, to keep the binaries reproducible? 🤔)

[2021-02-17 09:20] comius commented on #1107
Swiftly fixed :)

[2021-02-17 09:20] #1107 closed

[2021-02-17 15:25] fweikert opened #1110 "Move Bazel documentation generation to Buildkite"
**Milestone 1**: Replace CloudBuild setup with post-submit pipelines in the trusted Buildkite org for bazelbuild/bazel, bazelbuild/bazel-blog and bazelbuild/bazel-website.

Benefits: Less maintenance, better performance (documentation currently takes one hour to build)

**Milestone 2**: Use the new mechanism to create a "doc staging" presubmit pipeline for https://bazel.googlesource.com/

Benefit:

[2021-02-18 14:30] comius commented on #1090
The error changed today from missing **libraries/base-4.13.0.0** to missing **libraries/array-0.5.4.0**. Where there some changes on the infrastructure? Or is this result of some flakiness?

[2021-02-18 16:09] meteorcloudy commented on #1090
rules_haskell did go back to green for a short time after I updated the cache poisoning key:
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1903#d2127bfa-a988-4084-9fb9-61459d522331

I don't know what poisoned it again..

[2021-02-19 11:04] philwo opened #1112 "Setup arm64 continuous post-submit"

[2021-02-19 12:15] comius commented on #1093
Confirming it's fixed https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1924

[2021-02-19 12:17] comius commented on #1094
Confirming it is fixed https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1924

[2021-02-19 12:28] meteorcloudy commented on #1090
This is now fixed.
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1924

[2021-02-19 12:28] #1093 closed

[2021-02-19 12:28] meteorcloudy commented on #1093
@comius Thanks for confirming!

[2021-02-19 12:30] comius commented on #1090
Wait, it's not fixed.

[2021-02-19 12:38] meteorcloudy commented on #1090
Ah, the error caused by bazelbuild/bazel@7149f57 is fixed. The current error seems to be a cache poisoning.

[2021-02-19 13:18] #1090 closed

[2021-02-22 07:53] comius opened #1113 "RBE failures on master Bazel branch"
https://buildkite.com/bazel/bazel-bazel/builds?branch=master

It seems infrastructure releated.

Reported error is:
[code]

[2021-02-22 08:53] philwo commented on #1113
Fix: https://github.com/bazelbuild/bazel/pull/13087

[2021-02-22 21:17] fweikert commented on #1110
Milestone 1 has been completed (I still need to update the documentation and remove some configuration files).

[2021-02-23 02:06] acmcarther commented on #1084
I've disabled the windows builds for now. Everything else is green. I'm not sure if this is sufficient for inclusion in the downstream pipeline. I think either way is OK.

@meteorcloudy Is it possible to toggle the CI pipeline to public? I don't seem to have that knob in my Pipeline Settings configuration.

[2021-02-23 08:09] meteorcloudy commented on #1084
@acmcarther Thanks! Cargo-Raze is now public, I'll enable it in Bazel downstream.

[2021-02-23 15:37] #1084 closed

[2021-02-23 15:39] fweikert opened #1116 "Documentation pipeline failed (build #12)"
[code]

[2021-02-23 15:43] fweikert commented on #1116
Probably caused by https://github.com/bazelbuild/bazel/issues/3236

[2021-02-23 15:53] #1116 closed

[2021-02-23 18:49] tetromino opened #1119 "dashboard.bazel.build has broken links in open issue table for all sections except bazelbuild/bazel"
In the [bazelbuild/bazel](https://dashboard.bazel.build/bazelbuild/bazel) section of https://dashboard.bazel.build/, links to open issues table are set correctly; for example, the link for Android/PR correctly points to https://github.com/bazelbuild/bazel/issues?q=is%3Apr+is%3Aopen+label%3Ateam-Android

By contrast, in all other sections of the dashboard (i.e. [bazelbuild/starlark](https://dashboa

[2021-02-23 18:50] tetromino commented on #1119
@coeuvre - this is for https://github.com/coeuvre/continuous-integration which I think hasn't been merged yet

[2021-02-24 05:29] coeuvre commented on #1119
Fixed. Thanks for catching this!

[2021-02-24 05:29] #1119 closed

[2021-02-26 08:22] #1113 closed

[2021-02-26 19:57] fweikert commented on #1080
Another report about Buildifier behaving badly:

[2021-02-26 19:58] fweikert commented on #1080
Another link: https://github.com/bazelbuild/rules_rust/commit/7579c34722c6bdf47bd7644ae66e0cb0c39d9679

[2021-03-02 03:10] ash2k opened #1121 "Request to add new project ash2k/bazel-tools"
- I want to test the following project on Bazel CI: https://github.com/ash2k/bazel-tools
- I confirm that the project has a `.bazelci/presubmit.yml` file.

Please remove the configuration for https://github.com/atlassian/bazel-tools, which was added in https://github.com/bazelbuild/continuous-integration/issues/692. I no longer work at Atlassian, I'm maintaining the repo at the new location now. T

[2021-03-11 07:24] rupertks opened #1122 "Sign all builds"
(@philwo asked me to file an issue here)

It would be great if all builds were signed

At the moment release builds are signed (with .sig files etc at https://github.com/bazelbuild/bazel/releases)

But nightly builds and per-commit builds don't appear to be signed yet

Happy to do this myself if there are no objections. Looks like the release signing code is in scripts/ci/build.sh ?

[2021-03-20 15:33] EdSchouten commented on #1060
Any updates on this?

[2021-03-24 14:44] schoppmp opened #1125 "Request to add new project google/distributed_point_functions"
- I want to test the following project on Bazel CI: https://github.com/google/distributed_point_functions
- I confirm that the project has a `.bazelci/presubmit.yml` file.

[2021-03-26 16:27] mostynb opened #1126 ""Try Update Last Green Commit" regularly fails, but succeeds when retried"
I noticed that the tip of the master branch in the bazel-remote repository often has a red cross because the "Try Update Last Green Commit" job has failed with error message `Cannot update last green commit due to 1 failing step(s): :cop: Validate .bazelci/presubmit.yml`, despite everything else being green. And when I retry the build, it turns green.

https://buildkite.com/bazel/bazel-remote-cach

[2021-03-30 13:24] fweikert commented on #1125
Done: https://buildkite.com/bazel/google-distributed-point-functions/builds/1

Sent instructions via chat for how to set up GitHub integration.

[2021-03-30 13:24] #1125 closed

[2021-03-30 13:34] fweikert commented on #1121
Done. I re-used the old pipeline and team, which preserves the build history. First new build: https://buildkite.com/bazel/ash2k-bazel-tools/builds/1015

Note: Buildkite complained about getting 404s from GitHub when updating commit statuses. You might need to connect your GitHub account to Buildkite via the Buildkite GitHub Application: https://buildkite.com/organizations/bazel/repository-provide

[2021-03-30 13:42] fweikert commented on #1078
Does this issue require any actions from our side?

[2021-03-30 13:43] fweikert commented on #986
Sorry for the long delay. Are you still interested in testing your project on Bazel CI?

[2021-03-30 13:43] fweikert commented on #940
Sorry for the long delay. Are you still interested in testing your project on Bazel CI?

[2021-03-30 13:44] fweikert commented on #926
Sorry for the long delay. Are you still interested in testing your projects on Bazel CI?

[2021-03-30 13:44] fweikert commented on #890
Sorry for the long delay. Are you still interested in testing your project on Bazel CI?

[2021-03-30 13:48] fweikert commented on #743
I deactivated daily builds for this pipeline since they've been failing forever. Are there any plans to fix the problems?

[2021-03-30 13:56] fweikert commented on #312
Pipeline looks good, so I'll go ahead and add it to the downstream pipeline.

[2021-03-30 16:07] limdor commented on #1078
I had the issue that git commit status was automatically deactivated because of 404 spamm. I tried to follow the instructions but I did not manage. I send you an email but maybe it got lost.
In the meantime I ported all changes to the original fork of rules_qt, @justbuchanan is the original maintainer, maybe we could just change it to point directly to https://github.com/justbuchanan/bazel_rules_q

[2021-03-30 16:33] justbuchanan commented on #1078
If it's not too much trouble to set this up for https://github.com/justbuchanan/bazel_rules_qt, that would be great! Let me know if I can help.

[2021-03-30 16:46] bcsgh commented on #926
Yes, please:

- https://github.com/bcsgh/bash_history_db
- https://github.com/bcsgh/bazel_rules
- https://github.com/bcsgh/stl-to-ps
- https://github.com/bcsgh/tbd-http
- https://github.com/bcsgh/tbd
- https://github.com/bcsgh/utilities

Is it possible to have CI enabled for a (for now) private repository? If so, than I'd include

- https://github.com/bcsgh/fm-index
- https://github.com/bcsgh/url

[2021-03-30 22:47] ash2k commented on #1121
Thank you!

I don't have access to that page. I have uninstalled "Github" integration (legacy one?) and installed the "Github app" application from https://github.com/apps/buildkite/. I initially tried using the "Github app" from https://buildkite.com/user/connected-apps but from what I understand it wants full access to my account (Github page says "app would like permission on Act on your behalf

[2021-03-31 06:23] sophieball commented on #986
Ah! I don't need it anymore. Sorry that I forgot to close this. Thanks for following up!

[2021-03-31 06:23] #986 closed

[2021-03-31 07:16] hlopko commented on #1080
Any progress? We regularly miss buildifier lints in PRs and end up having `Additionally, this PR contains buildifier fixes` in overy other PR. Like yesterday https://github.com/bazelbuild/rules_rust/pull/665.

[2021-03-31 15:32] fweikert commented on #1080
@hlopko Sorry for the delay. There were so many problems that a significant rewrite was needed.

[2021-04-01 08:33] hlopko commented on #1080
No worries, thank you for your work!!

[2021-04-01 11:15] fweikert commented on #1078
I changed the existing pipeline to use the upstream repo: https://buildkite.com/bazel/rules-qt/builds/70

[2021-04-01 11:21] fweikert commented on #1121
Re webhooks: https://buildkite.com/bazel/ash2k-bazel-tools/settings/setup/github

This means that Buildkite will trigger builds whenever a PR is opened. However, without connecting the app Buildkite cannot update the commit status on GitHub :(

[2021-04-01 11:24] fweikert commented on #1121
Since this problem has come up frequently, I'm thinking about creating a dedicated Bazel CI GitHub user, which could connect its accounts with each other.

[2021-04-01 12:04] #312 closed

[2021-04-01 12:24] fweikert commented on #926
Done:

- https://buildkite.com/bazel/bcsgh-bash-history-db
- https://buildkite.com/bazel/bcsgh-bazel-rules
- https://buildkite.com/bazel/bcsgh-stl-to-ps
- https://buildkite.com/bazel/bcsgh-tbd
- https://buildkite.com/bazel/bcsgh-tbd-http
- https://buildkite.com/bazel/bcsgh-utilities

Unfortunately we don't support private repos right now.
Can you please send me an email (address is in my profile)

[2021-04-01 12:33] fweikert commented on #1121
Ok, we actually have a workaround for org-owned repos: The owners had to give our bazel-io robot account write permissions to the repository. Since your repo is not owned by an org, the only alternative might be to invite bazel-io as collaborator (not 100% sure if this works, though).

[2021-04-01 13:33] fweikert opened #1130 "Streamline onboarding process"
Currently the [issue template](https://github.com/bazelbuild/continuous-integration/blob/master/.github/ISSUE_TEMPLATE/adding-your-project-to-bazel-ci.md) only asks for the existence of a presubmit configuration.

However, there are actually more steps for onboarding a project that depend on the project maintainer
1. We need their email in order to add them to the Buildkite org.
2. They need to se

[2021-04-01 13:34] fweikert commented on #1130
cc @schoppmp

[2021-04-01 14:49] #1089 closed

[2021-04-01 15:00] fweikert commented on #1080
Had to fix two other problems, but it seems to work now: https://buildkite.com/bazel/rules-rust-rustlang/builds/2602

[2021-04-01 15:44] keith commented on #1080
Thanks! I'm seeing failures on our side too now

[2021-04-01 15:56] fweikert commented on #1080
Great! I'll close this issue - please let me know if you run into other problems.

[2021-04-01 15:56] #1080 closed

[2021-04-01 16:53] bcsgh commented on #926
It looks like my attempt to get clang builds isn't working:
https://github.com/bcsgh/bazel_rules/blob/master/.bazelci/presubmit.yml#L10-L17
https://buildkite.com/bazel/bcsgh-bazel-rules/builds/1#8bc82d85-0507-46fb-bed3-06a67903bffb/201-832

The only mention of clang I'm seeing in the docs seems to suggest that should work, but it's not explicitly about setting the compiler:
https://github.com/baze

[2021-04-01 17:03] fweikert commented on #926
Unfortunately there is no documentation on Clang specifically :(

`clang: error: invalid linker name in argument '-fuse-ld=/usr/bin/ld.gold'` - not sure where this flag value comes from.

I checked some of our clang builds, and they all run on Ubuntu 18.04, whereas your task runs on 16.04.:
- https://github.com/bazelbuild/bazel/blob/master/.bazelci/postsubmit.yml
- https://github.com/bazelbuild/ba

[2021-04-01 20:15] bcsgh commented on #926
Thanks. That gives me some ideas were to look.

Oh what I'd give for a set of fully hermetic cross tool libraries! Just add `--crosstool=@clang//11.0.1/host-amd64-linux/target-RISC-V-BSD` and no need to worry about how or what, if any, tool chains are installed locally. Any idea where I would ask for such a thing? I suspect it would end up being a very cross functional endeavor.

[2021-04-02 05:35] ash2k commented on #1121
This link redirects me back to this issue. Very weird. If I open it in an incognito window and auth with Buildkit, it tells me "You don’t have the required access level to change this pipeline".

Ok, I've invited @bazel-io as collaborator.

[2021-04-03 05:56] btwiuse commented on #940
Sure, I'm still playing with Bazel and would like to further test it with Bazel CI. It would be great if it could be added. Thanks in advance!

[2021-04-04 18:21] justbuchanan commented on #1078
Thanks for setting this up, @fweikert. Is there a way to get bazel ci to show status checks for PRs against the main repo? I opened https://github.com/justbuchanan/bazel_rules_qt/pull/22 for example and I don't see status checks or any new builds on https://buildkite.com/bazel/rules-qt.

[2021-04-04 22:59] bcsgh opened #1133 "Builds seem to ignore `/workdir/.bazelrc`"
https://buildkite.com/bazel/bcsgh-stl-to-ps/builds/8#870d8fa1-5b3a-431a-b364-f0f5c1be10af  << The case where this is causing problems.
https://buildkite.com/bazel/bcsgh-tbd/builds/8#eea4ef7b-aa30-4b2d-a818-62f0c18924cd << Another build that shows the same issue but otherwise works.

Despite the CI logs reporting:

later on the C++ version ends up being C++2011:

    #define a(x) b(x)
    #define b

[2021-04-04 23:03] bcsgh commented on #1133
Interesting, this other build seems to correctly inject -std=c++17 into the build command line:

[2021-04-07 19:08] fweikert commented on #1078
Yes, I just activated that setting.

[2021-04-07 19:15] fweikert commented on #1121
Ok, that's weird. I just sent you the instructions via email, that should work, too.

I'm having some problems accessing bazel-io's email account. Will try again tomorrow.

[2021-04-07 19:23] fweikert commented on #1078
@limdor / @justbuchanan  : Have you connected your GitHub account to Buildkite via the Buildkite GitHub Application ( https://buildkite.com/organizations/bazel/repository-providers)?

I'm trying to figure out why I don't see any commit status updates on GitHub. Usually Buildkite complains about 404s, but that's not the case here.

If you haven't done so, you can also invite @bazel-io as collaborat

[2021-04-08 02:10] justbuchanan commented on #1078
I tried to connect my account, but when I follow that buildkite link, I get an error message: "You're not allowed to change this organization", which makes sense since it's the "bazel" org.

I added @bazel-io as a collaborator - will that run some automation to configure PR status checks, etc?

[2021-04-08 03:18] ash2k commented on #1121
@fweikert Hey, thanks for the email! I've setup the webhook and works fine. Still waiting for the bazel.io to accept the invitation. Looks like currently Buildkit is unable to set build status/etc on a PR.

[2021-04-08 16:24] fweikert commented on #1121
It works now after accepting the invite: https://github.com/ash2k/bazel-tools/pull/6

[2021-04-08 16:30] fweikert commented on #1078
It works: https://github.com/justbuchanan/bazel_rules_qt/pull/22

[2021-04-08 17:35] limdor commented on #1078
Nice, now we just need to make the build green ;-)

[2021-04-08 18:14] fweikert commented on #1078
Sounds like a plan :) I'll close this issue since we finished onboarding. Please let me know if further assistance is needed.

[2021-04-08 18:35] fweikert commented on #940
Created https://buildkite.com/bazel/btwiuse-k0s

Next steps:
1. Please send an email to the address in my profile, then I can send you instructions on how to set up GitHub integration via web hooks.
2. If you want Buildkite to update PRs with test results, please invite @bazel-io as collaborator.

[2021-04-08 23:43] ash2k commented on #1121
Looks like it does! Thanks a lot! I now need to fix those failing tests...

[2021-04-08 23:43] #1121 closed

[2021-04-09 11:28] fweikert commented on #874
Closing this issue for now. Please let me know if you still want to test on Bazel CI.

[2021-04-09 11:28] #874 closed

[2021-04-09 11:28] fweikert commented on #743
Closing this issue since the onboarding request has been fulfilled.

[2021-04-09 11:28] #743 closed

[2021-04-09 11:29] fweikert commented on #926
I don't have any idea except for maybe https://groups.google.com/g/bazel-dev.

[2021-04-09 11:31] fweikert commented on #926
Btw, if you want Buildkite to update commit statuses in GitHub, please invite @bazel-io as collaborator.

[2021-04-10 14:01] UebelAndre commented on #258
Hey, any updates here?

[2021-04-12 09:02] fweikert commented on #926
Closing this issue since the project has been onboarded. Please let me know if some help is needed!

[2021-04-12 09:02] #926 closed

[2021-04-12 09:55] philwo commented on #258
Hi, unfortunately not yet, sorry, but it's still on my todo-list! 😬

[2021-04-12 15:39] bcsgh opened #1134 "Request to add new project bcsgh/fm-index"
- I want to test the following project on Bazel CI: https://github.com/bcsgh/fm-index
- I confirm that the project has a `.bazelci/presubmit.yml` file.

[2021-04-12 15:42] bcsgh commented on #926
Thanks. All my remaining concerns have open issues:

- I've opened https://github.com/bazelbuild/continuous-integration/issues/1134 for another project to add
- And https://github.com/bazelbuild/continuous-integration/issues/1133 for one of the builds that seems to be failing (I suspect the CI's invocation of bazel?).

[2021-04-12 18:55] fweikert opened #1135 "Create, implement and document a policy for projects on CI"
Currently there is no policy regulating which projects are accepted on Bazel CI. Users simply file an issue, and we periodically work through the backlog.

Going forward this has to change, especially given that our computing resources are limited.
Action items:

1. Develop and publish guidelines on which projects are eligible to run on CI.
2. Draft a codelab that teaches non-eligible projects how

[2021-04-12 18:55] fweikert commented on #1135
cc @philwo

[2021-04-22 00:18] justbuchanan commented on #1078
Hi Florian, sorry for the slow followup. It looks like commit statuses are correctly being updated for PRs when a buildkite build happens (so far only via manual trigger), but pushing new commits / creating a PR still isn't triggering builds. I think we're missing some configuration on the buildkite pipeline side, but I'm not able to edit settings on there - would you mind adding me as an editor o

[2021-04-27 16:17] fweikert commented on #1078
IIRC the webhooks were only set up for the temporary repository.

I added you to the rules_qt team. Can you access and please execute the [instructions](https://buildkite.com/bazel/rules-qt/settings/setup/github) ?

[2021-04-27 16:33] j3parker commented on #890
Hey! Also sorry for the late reply :)

I'd be happy to set it up if it's all the same to you.
I wouldn't be put off if you decided it "wasn't worth it" for these rules (they are very basic).
I've set this up in another repo before (Brightspace/rules_csharp) so I'm familiar with the general process (once it's in Buildkite.)

[2021-04-27 17:11] justbuchanan commented on #1078
Thanks! I got the buildkite invite in my email, but when I go to https://buildkite.com/bazel/rules-qt, I don't see the button for "Pipeline Settings": ![bk](https://user-images.githubusercontent.com/115131/116283359-a9982c80-a740-11eb-9658-12008f2f5a09.png)

Following the [webhook instructions link](https://buildkite.com/bazel/rules-qt/settings/setup/github) shows me:
![bk2](https://user-images.gi

[2021-04-27 17:23] fweikert commented on #1078
I updated the permissions - can you please try again?

[2021-04-27 17:36] justbuchanan commented on #1078
I was able to setup the webhooks and confirmed that my latest push to justbuchanan/bazel_rules_qt#22 automatically triggered a build. Looks like this is all working now, thanks!

[2021-04-27 18:42] tetromino opened #1142 "Make bazel/stardoc buildkite pipeline publicly viewable"
Currently, https://buildkite.com/bazel/stardoc requires a buildkite login to view.

@UebelAndre asked to make it publicly viewable (see https://github.com/bazelbuild/stardoc/issues/101).

[2021-04-28 12:31] philwo commented on #1142
Done! :)

[2021-04-28 12:31] #1142 closed

[2021-04-28 13:57] fweikert commented on #1078
Great!

[2021-04-28 13:57] #1078 closed

[2021-05-05 16:19] limdor opened #1149 "Request to add new project limdor/bazel-examples"
- I want to test the following project on Bazel CI: https://github.com/limdor/bazel-examples
- I confirm that the project has a `.bazelci/presubmit.yml` file.

[2021-05-05 20:01] philwo commented on #1149
@fweikert Could you help @limdor set this up? :)

[2021-05-11 08:59] comius opened #1150 "Bazel Remote Cache: TLS tests, basic auth tests failing"
- TLS tests started failing on 2021-05-07
- basic auth tests started failing on 2021-05-05, because of a missing test file, since 2021-05-07 same as TLS tests
- autosheriff blames infra

Link: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2025#ee9eaee2-0f65-4a58-abb2-cb05bba3b690

Example failure:

[code]

[2021-05-11 10:46] philwo commented on #1150
That's pretty mysterious. I think their test might be failing due to the error message having changed (probably just no longer prints the weird "BulkTransferException" thing, but a more user-friendly "Error while uploading artifact with digest [...]" message?), but Culprit Finder should have correctly found the commit that changed the error message then.

@coeuvre @meteorcloudy Any idea?

[2021-05-12 02:40] coeuvre commented on #1150
Yes, the message for upload errors is changed by https://github.com/bazelbuild/bazel/commit/913a985a5c2fc3842b12c6e5f29af0fa1bccfd6a which is included by [`4.1.0rc1`](https://github.com/bazelbuild/bazel/issues/13099#issuecomment-799371567).

[2021-05-12 07:51] meteorcloudy commented on #1150
I think autosheriff is correct this time, it's caused by the change of presubmit.yml of Bazel Remote Cache the project:
https://github.com/buchgr/bazel-remote/commit/f7f9c9daa2cd15c5ad9ad999852c7d7a75b303e3

Looks like this change works with Bazel 4.0 but not with 4.1 or HEAD.

/cc @mostynb

[2021-05-12 09:10] mostynb commented on #1150
Thanks for the heads-up. I will take a look.

[2021-05-12 09:32] mostynb commented on #1150
I have disabled this fragile test in bazel-remote.

[2021-05-12 11:05] meteorcloudy commented on #1150
Thank you!

[2021-05-14 06:14] comius commented on #1150
Thanks!

[2021-05-14 06:14] #1150 closed

[2021-05-14 08:33] comius opened #1155 "rules_nodejs failing on Windows"
rules_nodejs started failing on windows on  2021-05-11
Log: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2033#507b633a-a766-4150-ab89-35f00475ff97

The failing test (https://github.com/bazelbuild/rules_nodejs/blob/stable/internal/pkg_npm/test/diff_pack_dir.sh) is comparing output `pkg_npm` and a template. And `pkg_npm` supposedly produces extra files `external.mjs`, `foo.mjs`,`

[2021-05-14 08:47] philwo commented on #1155
Correct :/ Maybe NEEDS_CLEAN helps? (https://github.com/bazelbuild/continuous-integration/tree/master/buildkite#culprit-finder)

[2021-05-19 14:19] Wyverald opened #1156 "soft_fail causes postsubmit CI run failures"
The new `soft_fail` option (added in https://github.com/bazelbuild/continuous-integration/pull/1148) causes the ["Try to update last green commit" step](https://buildkite.com/bazel/intellij-plugin/builds/11711#04d05293-b164-4cb1-af05-a7ffdc6d68b9) of postsubmit CI runs to fail (even though it should be fine to update the last green commit). This is in turn causing a few un-bisectable failures in t

[2021-05-19 15:41] Wyverald commented on #1156
@meteorcloudy has mentioned that this part of the code probably needs to be changed: https://github.com/bazelbuild/continuous-integration/blob/78dea72af52f46d58a843195480659cf519dfb89/buildkite/bazelci.py#L2977

[2021-05-20 01:15] bcsgh opened #1158 "Document how to run build that depend on external tools"
... or if it's already documented, please link to that from the [front page](https://github.com/bazelbuild/continuous-integration/blob/master/buildkite/README.md#faq).

---

While trying to integrate with libraries that don't already build under Bazel it's rather common to end up with dependencies that bazel can't build ([e.g.](https://buildkite.com/bazel/bcsgh-bazel-rules/builds/36#92e5c0dc-c98b-

[2021-05-20 08:36] #1156 closed

[2021-05-21 17:15] UebelAndre opened #1160 "Using bazel-toolchain 5.1.0"
I'm trying to upgrade [rules_foreign_cc](https://github.com/bazelbuild/rules_foreign_cc) to use [bazel-toolchain 5.1.0](https://github.com/bazelbuild/bazel-toolchains/releases/tag/v5.1.0) but do not know how to convert `rbe_autoconfig` to the modern equivalent (or what the modern equivalent is). Can someone provide a snippet of what is required?

[2021-05-21 17:18] philwo commented on #1160
Unfortunately we don't have anything here yet, as soon as we figure it out ourselves for Bazel, I'll follow up!

[2021-05-22 06:09] davido commented on #1160
Gerrit Code Review project has the same issue.

After bumping `bazel-toolchain` from 5.0.0 to 5.1.0 we are getting this error:

[code]

I also don't see any migration suggestion in their release notes site: https://github.com/bazelbuild/bazel-toolchains/releases/tag/v5.1.0

[2021-05-22 07:15] philwo commented on #1160
Do you mean 4.0.0 to 5.1.0? Because from 5.0.0 to 5.1.0 should be no breaking change. However 4.0 and 5.x are completely different things and need a different setup and thus would explain the error message. In order to migrate, I'd personally start with reading the docs for bazel-toolchains 5.x and try to set it up from scratch - as `rbe_autoconfig` is completely gone, there is no migration where

[2021-05-22 07:19] davido commented on #1160
No. I mean what I said. 5.0.0 to 5.1.0.

We are currently using bazel-toochain 5.0.0 and all works just fine with Bazel 4.0.0:

[code]

Switch bazel-toochain from 5.0.0 to 5.1.0: rien ne va plus!

[2021-05-22 07:21] davido commented on #1160
This is the CL: [1] from February 2021, where I bumped bazel-toolchain to 5.0.0.

[1] https://gerrit-review.googlesource.com/c/gerrit/+/296769

[2021-05-22 07:27] davido commented on #1160
I cannot figure out how to generates something that would replace rbe_jdk11 used by gerrit.

I tried this in bazel-toolchains@HEAD (27f2db256e54e5748ee1cd9485ccd0d5444bf1c6):

[code]

And it's generating something that is different from what I am getting from checked in rbe_jdk11 configuration.

So that it really boils down to that question:

What parameter should I pass to `rbe_configs_gen` to ge

[2021-05-22 09:42] davido commented on #1160
This seems to work:

The command used in bazel-toochain project (v5.1.0):

[code]

Given that there is no native support for JDK 11 in bazel-toolchain,
custom jdk11 was added to generated tools/rbe/java/BUILD file:

[code]

[2021-05-22 10:39] philwo commented on #1160
Got it - thanks for confirming! That's really surprising, I thought that 5.0.0 had already removed these things and 5.1.0 was just a patch release with some bug fixes. I haven't investigated it too much though.

Thank you so much for documenting your steps and progress here! This will save others (including me 😄) a lot of time!

[2021-05-26 17:20] alexeagle opened #1161 "buildifier check should allow custom failure message"
In this spot you assume the workflow is an onerous one where developers must manually run buildifier on their files
https://github.com/bazelbuild/continuous-integration/blob/562a2491dec73ed839ef56a960b0ebd45e903a0d/buildifier/buildifier.py#L260

However I'm setting up all the rulesets I can get my hands on to use a pre-commit hook to automate this. So for any repo that has configured it, the remed

[2021-05-26 17:38] alexeagle opened #1162 "Allow buildifier config to exclude paths"
In rules_nodejs we vendor some code into third_party (like some bits from skylib)

Thus if I try to enable buildifier on bazel CI it says I have to make changes to that code
https://buildkite.com/bazel/rules-nodejs-nodejs/builds/9363#e2d87cbb-8310-4f80-a63c-30d849cd6d0c
which is not great since then we have diverged from the upstream where we cloned it.

I'd like to say
[code]

(note, this will fu

[2021-05-27 15:38] #1161 closed

[2021-05-30 10:04] limdor commented on #1149
@philwo @fweikert can I do something on my side to speed up the process of making this happen?
I would like to keep creating and maintaining examples for Bazel but without using Bazel CI is hard to say if the issues are because of CI setup or Bazel bugs.
For me it would be also fine to add examples in https://github.com/bazelbuild/examples but I saw there is a capacity problem there to review and

[2021-05-30 14:52] fweikert commented on #1149
Sorry for the delay! You can find the pipeline here: https://buildkite.com/bazel/limdor-bazel-examples/builds/1

I'll send you the webhook instructions via email.

[2021-05-30 15:54] limdor commented on #1149
Thanks a lot! I've followed the email instructions and I've created a PR to test it:
https://github.com/limdor/bazel-examples/pull/45
The build got triggered
https://buildkite.com/bazel/limdor-bazel-examples/builds/2
But the status does not appear in the PR. Any ideas?
![image](https://user-images.githubusercontent.com/3073717/120110710-e35cb880-c16e-11eb-91f1-a51956b21b1f.png)

To me  it looks si

[2021-05-30 16:05] limdor commented on #1149
One more thing, if I try to go to https://buildkite.com/organizations/bazel/repository-providers like you mentioned in https://github.com/bazelbuild/continuous-integration/issues/1078#issuecomment-815165756 I'm getting this error:
![image](https://user-images.githubusercontent.com/3073717/120111212-5cf5a600-c171-11eb-8027-41f26a5b9a92.png)

[2021-05-30 16:30] fweikert commented on #1149
Adding @bazel-io should do the trick

[2021-05-30 17:20] limdor commented on #1149
Ok done, once @bazel-io accepts the invitation I'll try again. Thanks!

[2021-05-30 18:04] fweikert commented on #1149
Ok, I’ll see whether I can access the account tomorrow. In the worst case we have to wait one week until Philipp is back in the office.

[2021-05-31 05:18] davido opened #1167 "Raise c++ compiler baseline"
Trying to upgrade gRPC to 1.3.8:[1] to fix building Bazel itself on gcc 11 (now default on Fedora Rawhide 34), we are running in this issue: [2]

[code]

Looking into the related docker image, gcc is totally outdated:

[code]

Raise the baseline and remove outdated toolchains.

Possibly related: [3].

[1] https://github.com/bazelbuild/bazel/pull/13536
[2] https://buildkite.com/bazel/bazel-bazel-gi

[2021-06-01 16:56] chasain commented on #1060
I'm all for automating this, but for now can we get a manually built image pushed

[2021-06-06 18:13] philwo commented on #1149
@limdor Sorry, could you please resend the invite? They expire after 7 days and this one has apparently just expired :/

[2021-06-07 11:57] philwo opened #1169 "Setup HTTP redirects using Google Cloud Traffic Management"
Bazel's websites are behind two Google Cloud Load Balancers:

- `http-redirector` listening on `130.211.20.222:80`, `130.211.20.222:443` and `130.211.22.235:80`
- `bazel-build` listening on `130.211.22.235:443`

The `http-redirector` LB forwards all requests to an nginx instance running on a VM with this config:

[code]

The full list of domains that are handled by the load balancers is:

[code]

[2021-06-07 11:57] philwo commented on #1169
@coeuvre When you have some time, could you look whether this is feasible? :)

[2021-06-07 12:01] philwo commented on #1167
@davido We cannot upgrade the gcc compiler on this platform. CentOS 7 ships this version of gcc so we have to deal with it - we are (purposefully) always using and testing with the default toolchains provided by the distributions that we support to ensure that Bazel can be built and works out of the box on these systems.

[2021-06-07 14:06] davido commented on #1167
@philwo

Thanks for clarifying. Remove the outdated platforms, then?

But anyway, this could be handled in another issue.

[2021-06-07 14:06] #1167 closed

[2021-06-07 15:40] philwo commented on #1167
I'm always happy if we can remove support for old platforms, because then we can move to more modern tools, reduce infrastructure complexity, etc.

On the other hand we don't want to remove support for something that's still important for our users. :( As we don't have telemetry, it's very difficult to get clear signal on which platforms are still important and which aren't.

Considering that Ubun

[2021-06-07 16:39] limdor commented on #1149
Great, with bazel-io as a collaborator now it works:
![image](https://user-images.githubusercontent.com/3073717/121057596-b9834180-c7bf-11eb-9f4a-54d54e85f50c.png)

[2021-06-07 16:43] #1149 closed

[2021-06-07 18:19] limdor opened #1171 "Support coverage_targets"
It would be nice to support coverage_targets in the same way that there is run_targets and build_targets

[2021-06-07 19:46] davido opened #1172 "Drop support for Ubuntu 14.04 / 16.04 / CentOS 7 on Bazel@HEAD"
Considering that Ubuntu 16.04 LTS is EOL now, it might be reasonable to drop support for Ubuntu 14.04 / 16.04 / CentOS 7 on Bazel's main branch.

One reason to discontinue support for outdated platforms, is that Bazel@HEAD cannot be built on modern platforms, like Fedora 34 rawhide (x86_64) that switched to `gcc` 11.x toolchain (https://gcc.gnu.org/gcc-11/), see https://github.com/bazelbuild/bazel

[2021-06-07 19:46] davido commented on #1167
Done.

[2021-06-08 04:27] davido commented on #1172
@philwo

To increase the visibility, should this issue be rather transferred to bazel project?

[2021-06-08 06:49] coeuvre commented on #1169
Just checked the doc, the kind of rewrites we want should work except:

IIUC, the traffic management doesn't support referencing the captured subdomains in the redirect rules. e.g. If we want to redirect both `ij.bazel.io` and `skydoc.bazel.io` to `ij.bazel.build` and `skydoc.bazel.build` respectively, we have to create two rules to match each host name (using `*.bazel.io` won't work). Since the n

[2021-06-08 07:53] meteorcloudy opened #1173 "Bazel CI: Downstream projects broken due to Android tools upgrade"
https://github.com/bazelbuild/bazel/commit/80feea06cbf06486280dac065e3caec5facbedb9 causing the following projects to break in downstream:

- Android Testing
- Bazel Examples
- rules_jvm_external

[code]

@philwo We should probably upgrade our VM images to Android build tools install 30.0.0?

FYI @ahumesky

[2021-06-08 07:55] philwo commented on #1173
The VMs currently provide these versions:

[code]

I think the problematic projects might hardcode their requested build-tools version to a lower version though maybe in their WORKSPACE file? 🤔

[2021-06-08 20:22] philwo commented on #1169
We were asked by the security team during the initial review of our infrastructure to eventually remove our nginx VM. They were just worried that it's a publicly accessible service that can potentially be hacked.

I just played around with the Load Balancer settings a bit right now to get a better understanding of what it can do and I think I managed to actually already achieve my first idea! 🤔 I

[2021-06-09 14:09] alexeagle opened #1174 "Remote cache poisoned?"
Hey @fweikert

rules_nodejs has had almost all our RBE builds red for the last few days. On PRs I'm pressing the Retry button multiple times to get them green, and our default branch has been red for a day.

https://buildkite.com/bazel/rules-nodejs-nodejs/builds/9591#bdced136-a515-4099-a52b-5984d9575a61 is an example
failure:
[code]

It's always this same entry causing the problem. Seems like some

[2021-06-09 14:14] philwo commented on #1174
@coeuvre Is this something you want to debug? 🤔

@alexeagle The tricky thing here is that this is happening on the RBE platform and our usual approach to deal with cache poisoning (https://github.com/bazelbuild/continuous-integration/blob/fc87a0444e95d13a7cfea9086620a54197f25487/buildkite/bazelci.py#L1538) will not work here. I will reach out for help.

[2021-06-09 15:21] philwo commented on #1174
@alexeagle I checked with the RBE team, this doesn't look like something on the backend side. The blob is apparently there and fine. 👀 We're suspecting a Bazel bug, although not sure yet what's going on.

Could you bump your `.bazelversion` to 4.1.0 and see if it fixes this?

[2021-06-09 20:44] alexeagle commented on #1174
Sure, https://github.com/bazelbuild/rules_nodejs/pull/2761 thanks for investigating!!

(maybe that will be enough to change the input key for that action in the cache such that this isn't reproducible, but that's okay with me I'm not trying to discover Bazel bugs today, just keep our CI green)

[2021-06-09 20:58] alexeagle commented on #1174
Hmm get some new errors on RBE now
[code]

maybe related to a warning I see locally
[code]

will try pinning like it says

[2021-06-09 21:01] rubensf commented on #1174
Sounds like you may need to update the [bazel-toolchain repo](https://github.com/bazelbuild/rules_nodejs/blob/stable/WORKSPACE#L158)?

FYI `rbe_autoconfig` doesn't work past bazel 4.0.0 - you'll need to update configurations following https://github.com/bazelbuild/bazel-toolchains#generating-configs.

[2021-06-10 04:39] alexeagle commented on #1174
thanks @rubensf I was never able to figure this out in prior attempts. We've been using the bazel-0.28.0.bazelrc this whole time ever since setting up our RBE test job and managing to get away with that.

I tried following the instructions,
running `./rbe_configs_gen     --bazel_version=4.1.0     --toolchain_container=l.gcr.io/google/rbe-ubuntu16-04:latest     --output_src_root=$HOME/Projects/rule

[2021-06-10 06:14] coeuvre opened #1175 "Upload corrupted downloads to Artifacts in Buildkite"
In the past, we've seen a couple of cache poisoning cases when we use remote cache/execution and we usually only get error messages like: `java.io.IOException: Output download failed: Expected digest '...' does not match received digest '...'`. It would be helpful if we can get the corrupted blob to debug with.

Steps:
- [x] Add more details describing the error in Bazel. e.g. including file name,

[2021-06-10 14:48] rubensf commented on #1174
I have only used these configs for C++ so far, so I may be missing something :sweat_smile:

I _think_ you might just want to remove those [`rbe_autoconfig`](https://github.com/bazelbuild/rules_nodejs/blob/stable/WORKSPACE#L163) declarations from your workspace in https://github.com/bazelbuild/rules_nodejs/pull/2761.

Also, I'm not sure misleading -- see comment in https://github.com/bazelbuild/baz

[2021-06-10 16:07] philwo commented on #1174
@alexeagle I think that error referring to `local_java_runtime` is this one: https://github.com/bazelbuild/bazel/issues/13099#issuecomment-846062829

More context: https://github.com/bazelbuild/bazel/issues/13502

[2021-06-10 19:53] philwo opened #1177 "Migrate arm1.bazel.build to arm64.bazel.build"
We got a new arm64 server sponsored by Works on Arm and have to migrate our setup from the old one to the new one, so that we can give back the old server asap.

[2021-06-11 09:58] #1175 closed

[2021-06-14 14:26] alexeagle commented on #1174
thanks @philwo I had seen that discussion but didn't put it together that I'd need that 4.1.0 of the toolchains repo to fix this.

Now I get
[code]

obviously darwin is an os, not a cpu, so some wiring is crossed somewhere?

The only thing in rules_nodejs that I can find which is related is our platform definitions in toolchain/node/BUILD.bazel such as
[code]

sorry to be stuck here :(

[2021-06-14 14:40] rubensf commented on #1174
For windows, you'll need to also run the `rbe_configs_gen` using a windows docker container on a windows machine or deactivate RBE for windows.

For MacOS, there's no RBE support for MacOS so you'll have to deactive remote support for that too.

(basically tweak the .bazelrc configurations to not include --remote on windows/macos builds).

Note you _do_ can use remote caching, (basically setting [

[2021-06-14 14:58] philwo commented on #1174
@alexeagle Can you send a Buildkite log where that error message is visible? I don't think it should happen when the job runs on the `rbe_ubuntu1604` platform on Bazel CI (it would automatically manage the --remote_* flags and only enable execution for that platform, but not for macOS / Windows). 🤔

[2021-06-15 06:20] coeuvre commented on #1174
After comparing the corrupted blob with the correct one, I think this is caused by a known issue https://github.com/bazelbuild/bazel/issues/12927#issuecomment-780482034. Bazel 4.1.0 and HEAD contain the fix.

[2021-06-15 15:29] EricBurnett commented on #1174
FYI, for the corrupted blob downloads, I expect you can mitigate in any version of bazel by setting --remote_timeout=3600 (or some suitably long period).

Chi linked the relevant bug - appears to be a race in gRPC at certain versions, which is triggered by the RPC timeout/retry flow for RPCs that exceed a certain duration. I'm guessing your build is download-bottlenecked at that phase, causing the

[2021-06-15 15:35] philwo commented on #1174
Thank you Eric! I assume the flag is safe to set even with future versions of Bazel? We could add it to our list of remote execution flags here, then it would apply to all jobs running on Bazel CI: https://github.com/bazelbuild/continuous-integration/blob/54595a2618dbbba37bd0ae2577ef1d2c520b0fa8/buildkite/bazelci.py#L1669-L1675

[2021-06-15 15:44] EricBurnett commented on #1174
Should be safe, yep - it's a default we recommend for RBE and most of our users have had set since the beginning.

I'll note that it may not be safe with *other* remote execution services than RBE...some have races that can lead to hung RPCs and thus hung builds that a smaller remote timeout would have papered over. But if you don't use other services, or don't set this flag on them, you should be

[2021-06-16 02:42] coeuvre commented on #1174
Yes, this work is on my list.

[2021-06-16 12:08] fweikert opened #1182 "Gerrit pipeline has been broken since April"
- Last green: https://buildkite.com/bazel/gerrit/builds/7055 at [79a017f](https://gerrit.googlesource.com/gerrit/+/79a017f7ddb80047232a04a24c83ae37812a3e47)
- First red: https://buildkite.com/bazel/gerrit/builds/7056 at [caa7997](https://gerrit.googlesource.com/gerrit/+/caa7997c551462e210054265af4843f7a5816c51)

Based on the [log](https://gerrit.googlesource.com/gerrit/+log?s=08325a350ffc6c3264535

[2021-06-16 12:25] Wyverald commented on #1182
Gerrit bug: https://bugs.chromium.org/p/gerrit/issues/detail?id=14557

[2021-06-16 12:31] fweikert commented on #1182
Nice, thanks for filing the issue! But it's not a great signal that they keep ignoring it :(

[2021-06-16 16:51] UebelAndre opened #1184 "`build_flags` are not picked up when running tests"
I would have expected `build_flags` to follow the same behavior as a build flag in a `.bazelrc` and be included in test targets. This does not appear to be the case. Could this either be fixed or clarified somewhere?

[2021-06-23 21:45] devkadirselcuk opened #1185 "Request to add new project [PROJECT_NAME]"
- I want to test the following project on Bazel CI: [URL_TO_GIT_HUB_PROJECT]
- I confirm that the project has a `.bazelci/presubmit.yml` file.

# Instructions (you can delete this section from the issue)

Welcome to Bazel CI! We are thrilled that you want to test your project with Bazel.
Please follow these steps to make the on-boarding experience as smooth as possible:

1. Add the URL of your pro

[2021-06-24 07:13] philwo commented on #1185
Blocked and reported due to posting spam on our issue tracker and various other repositories all over GitHub.

[2021-06-24 07:13] #1185 closed

[2021-06-24 10:23] comius commented on #1155
This was fixed.

[2021-06-24 10:23] #1155 closed

[2021-06-24 10:51] comius opened #1186 "rules_nodejs broken on RBE"
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2078#32da5b5f-ca27-48b9-8031-40843c707089

First occurence: 2021-06-10.
Looks infra (npm) related. Autosheriff blames infra.

It works with Bazel LTS though.

[2021-06-30 09:07] philwo commented on #778
I'm removing this project from our CI, because the repository has apparently been deleted.

[2021-06-30 09:28] philwo commented on #926
Hi @bcsgh,

I noticed that all of your projects on Bazel CI are red, most of them for a while:

- https://buildkite.com/bazel/bcsgh-bazel-rules
- https://buildkite.com/bazel/bcsgh-stl-to-ps
- https://buildkite.com/bazel/bcsgh-tbd
- https://buildkite.com/bazel/bcsgh-tbd-http
- https://buildkite.com/bazel/bcsgh-utilities

I'm looking to reduce the complexity / scope of our Bazel CI setup a bit - wou

[2021-06-30 09:34] philwo commented on #841
Hi @jmillikin,

I noticed that all of your projects on Bazel CI are red, most of them for a while:

- https://buildkite.com/bazel/github-dot-com-jmillikin-rules-bison
- https://buildkite.com/bazel/github-dot-com-jmillikin-rules-flex
- https://buildkite.com/bazel/github-dot-com-jmillikin-rules-m4
- https://buildkite.com/bazel/github-dot-com-jmillikin-rules-ragel

Do you want to fix them, or are the

[2021-06-30 10:02] philwo commented on #1078
Hi @justbuchanan,

the rules_qt pipeline has been red on Bazel CI for a while. We can't get a test signal for Bazel from this project if the pipeline is red, unfortunately, so we can't test that changes we make don't accidentally break your rules. What's the status on this?

Cheers,
Philipp

[2021-06-30 18:01] bcsgh commented on #926
Would you mind taking a look at https://github.com/bazelbuild/continuous-integration/issues/1133?

Fixed:
- https://buildkite.com/bazel/bcsgh-bazel-rules
- https://buildkite.com/bazel/bcsgh-utilities

Fix blocked on https://github.com/bazelbuild/continuous-integration/issues/1133
- https://buildkite.com/bazel/bcsgh-stl-to-ps
- https://buildkite.com/bazel/bcsgh-tbd
- https://buildkite.com/bazel/bcs

[2021-06-30 18:21] limdor commented on #1078
Sorry I was pushing for this to be in the CI but unfortunately I did not have time to continue on the whole toolchain for Qt.
The point is that the Bazel CI does not have a normal Qt installation, it needs to be installed in a special way that then is not in the path. This is a fair use case but requires that rules_qt supports this case. The alternative was to request Qt to be installed in the doc

[2021-07-01 13:18] jmillikin commented on #841
Hi Philipp,

The pandemic (+ related events) have limited the time I have to work on
personal projects, and they started to hit an apparent issue in Bazel CI
where the build is marked as "failed" if the same commit is built too many
times.

Because of this I wasn't paying attention to the red builds, and didn't
notice that the Buildifier lints had at some point started failing. I will
look at your

[2021-07-01 13:33] philwo commented on #841
Hi John,

No worries and thanks for getting back to me here. Hopefully just bumping the Buildifier version will already fix them. 😊  Let me know if I can help in any way and take your time.

Cheers,
Philipp

[2021-07-02 03:29] johanbrandhorst commented on #1060
Friendly bump, blocking upgrade from 3.5.0

[2021-07-04 12:05] jmillikin commented on #841
OK, those four repos now have green Bazel CI builds at trunk.

[2021-07-07 14:31] philwo commented on #926
Thanks for the feedback! I'll look into #1133. I'll get back regarding your other questions soon.

[2021-07-09 22:54] eikemeier opened #1189 "Request to add new project "melsicon Kafka serialization comparison""
- I want to test the following project on Bazel CI: https://github.com/melsicon/kafka-sensors
- I confirm that the project has a `.bazelci/presubmit.yml` file.

[2021-07-13 13:18] UebelAndre opened #1190 "Musl support in CI"
Are there any available hosts that support musl? If so, how would I go about configuring a `cc_toolchain` for it, otherwise, I suppose this would be a feature request to enable CI tests for musl (related to https://github.com/bazelbuild/rules_rust/pull/829).

[2021-07-13 14:12] philwo commented on #1190
@UebelAndre I never used musl - what would you need? Just `apt install musl-dev` in the Ubuntu 20.04 container or something more elaborate? 😀

[2021-07-13 14:45] UebelAndre commented on #1190
I think `gcc-multi` and `musl-dev`? But the hard part would probably be configuring the `cc_toolchain` or at least in a way that didn't require users to have intimate knowledge of the base image. Perhaps an alpine image (which is musl by default) would do the trick?

[2021-07-15 12:46] mai93 commented on #1186
This is still broken and the error fluctuates between:
* Error: Cannot find module 'npm_directory_artifacts/node_modules/protractor/bin/protractor'. Please verify that the package.json has a valid "main" entry, example: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2100#91244208-08b1-4c02-a607-0cd46ee38cf6
* ERROR[runfiles.bash]: cannot look up runfile "npm_directory_artifacts/n

[2021-07-29 15:53] UebelAndre opened #1197 "Passing startup commands via `presubmit.yaml`"
Is it possible to do this?

[2021-07-30 12:33] philwo commented on #1197
Not currently. What would you use it for?

[2021-07-30 13:50] UebelAndre commented on #1197
to pass `--windows_enable_symlinks` (and other startup args) to a build. As an alternative to making a `.bazelrc`

[2021-08-07 11:59] philwo commented on #801
I'm removing this project from our CI, because
- their build is broken: https://github.com/plaidml/plaidml/pull/1854,
- they are still using Bazel 1.0 thus not giving us any signal: https://github.com/plaidml/plaidml/blob/master/.bazelversion,
- and they apparently now run their own Buildkite-based CI: https://buildkite.com/plaidml/plaidml-plaidml/builds/6040

If project owners would like to re-ad

[2021-08-09 14:33] UebelAndre commented on #1197
But that said, I suppose a `.bazelrc` is a solution so the work to support this is not necessary.

[2021-08-09 14:33] #1197 closed

[2021-08-09 14:38] UebelAndre opened #1201 "Unexpected failures on windows runners"
Initially noticed on https://github.com/bazelbuild/rules_rust/pull/879#issuecomment-894896993

Did something change about the windows runners recently? As you can see in that comment, build [4029](https://buildkite.com/bazel/rules-rust-rustlang/builds/4029) succeeded but build [4046](https://buildkite.com/bazel/rules-rust-rustlang/builds/4046#73d9f1e8-780c-4833-bb42-85b1c29c1fa8) failed when no ch

[2021-08-09 14:38] UebelAndre commented on #1201
cc @hlopko for visibility

[2021-08-09 14:43] philwo commented on #1201
Hi,

yes, I did an upgrade of our VMs and containers over the weekend - for Windows I summarize the changes here: https://github.com/bazelbuild/bazel/issues/13816

We‘ve seen a couple of issues with the new image and are currently fixing broken tests etc. across CI.

[2021-08-09 14:44] philwo commented on #1201
That failure is strange. We didn’t change anything about Visual Studio except the version of the Windows SDK in the new images. :/

[2021-08-09 14:46] philwo commented on #1201
Oh… maybe the failing test is accidentally using a „link“ executable from MSYS while you’re expecting a link.exe from VStudio?

[2021-08-09 14:47] philwo commented on #1201
@meteorcloudy Could we remove the mingw32 compiler, gcc, etc. from MSYS2? Why do we need / install them when we want to build with Visual Studio on Windows?

[2021-08-09 14:49] philwo commented on #1201
Oh no, link.exe actually come from https://packages.msys2.org/package/coreutils?repo=msys&variant=x86_64 … :/

[2021-08-09 14:53] meteorcloudy commented on #1201
Yeah, the `/usr/bin/link` should exist even before the upgrade of VM, so it must be something else that caused the build to find the unix link instead of the one from VC++ build tool.

[2021-08-09 15:02] meteorcloudy commented on #1201
This is how rust finds the link.exe binary:
https://github.com/rust-lang/rust/blob/master/compiler/rustc_codegen_ssa/src/back/link.rs#L851

[2021-08-09 15:06] meteorcloudy commented on #1201
I'm not very familiar with rust, cannot figure out what went wrong, @UebelAndre can you help take a look?

[2021-08-09 15:14] UebelAndre commented on #1201
I may have some time toward the end of the day today to take a closer look but otherwise don't have too much free time this week so can't commit to too much support 😞

[2021-08-09 15:38] meteorcloudy commented on #1201
Basically this API doesn't work correctly: https://docs.rs/cc/1.0.29/cc/windows_registry/fn.find_tool.html

I wonder if the registry is somehow messed up?

[2021-08-09 19:28] EdSchouten commented on #1060
This is still an issue.

[2021-08-09 20:03] flaub commented on #801
We've since moved to using cmake for our build, so we no longer need Bazel CI, but thanks for the update. I wasn't sure how to remove the project from Bazel CI when the cmake transition was made.

[2021-08-10 07:18] hlopko commented on #1201
rules_rust take the linker from the C++ toolchain, we don't use the rustc defaults. This is where this happens: https://github.com/bazelbuild/rules_rust/blob/main/rust/private/rustc.bzl#L229.

I'm hopeless when it comes to Windows, but to me it seems the error is not directly Rust related. @meteorcloudy, does the invocation look reasonable to you?

[code]

We also take linker flags from the C++ to

[2021-08-10 07:19] hlopko commented on #1201
If ^ works when C++ constructs the linking action, we can diff the command line and see further where things went wrong.

[2021-08-10 08:57] philwo commented on #1201
Interesting, thanks Marcel!

We can see in the logs that the "outer" Bazel can successfully build Rust files (at least there are a few messages that suggest that, like "(01:17:50) INFO: From Compiling Rust rlib libc (59 files): [...]" and "Compiling Rust bin cargo_build_script_runner (1 files); 1s local, remote-cache".

But then the "inner" Bazel in the (shell) tests fails when building Rust.

My

[2021-08-10 10:13] philwo opened #1202 "Remove rules_gwt from Bazel CI"
https://github.com/bazelbuild/rules_gwt has been broken for a long time, because it's apparently unmaintained and an incompatibility with Java >= 9 is not being addressed.

We attempted to fix this ourselves (https://github.com/bazelbuild/rules_gwt/pull/38) but unfortunately it seems to be not that easy.

Let's remove the project from Bazel CI and I also propose to archive the repository and mark

[2021-08-10 10:14] philwo commented on #1202
@aiuto @sventiffe Any thoughts or concerns?

[2021-08-10 12:22] #1177 closed

[2021-08-11 11:57] hlopko commented on #1201
Oh wow I've never looked into the implementation of rust_doc_test, I didn't know about the shell script inside. Still, there doesn't seem to be outer/inner Bazel, just potentially slightly different compilation actions.

@UebelAndre can you maybe take a look if regular rustc actions and rust_doc compilation actions differ in their env or in paths used? That could be an explanation.

[2021-08-11 16:24] UebelAndre commented on #1201
The difference is that `rust_doc` is attempting to run a compile action as a test. `rustdoc` will compile the doc tests and then run them. Unfortunately, there's no stable way for rustdoc to build tests and run them later so I think the question becomes, what can be done to recreate the same environment used for `Rustc` actions in this test target's execution? In attempting this, I ran into a myri

[2021-08-12 00:44] UebelAndre opened #1204 "Add Visual Stido 2019 to Windows runners"
Windows builds for [rules_foreign_cc]() seem to be having issues on windows. A recent PR (https://github.com/bazelbuild/rules_foreign_cc/pull/757) runs into issues in [this build](https://buildkite.com/bazel/rules-foreign-cc/builds/3407#d2da4c9e-ee60-48f4-bc5e-64160b431ad1):
[code]

And by trying to update to a newer version Visual Studio (https://github.com/bazelbuild/rules_foreign_cc/pull/758) [

[2021-08-12 11:13] comius commented on #1202
I second that.

[2021-08-12 17:58] philwo commented on #1204
Hi @UebelAndre!

Sorry for the issues here. Both versions of Visual Studio should be installed in the image: https://github.com/bazelbuild/continuous-integration/blob/c6ea70e31177600d96221f2fd409428995b65ef1/buildkite/setup-windows.ps1#L119-L129

I'm not sure why it's no longer working in our latest image.. :/ I'll investigate, but won't have time before Monday (taking tomorrow off and then it's t

[2021-08-16 15:04] fweikert opened #1208 "`Bazelisk + Incompatible flags` pipeline hasn't been doing anything for months"
Build [878](https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/878) from May 21st is the last one that actually tested incompatible flags; since then every build has been failing with "No incompatible flag issue is found on github for current version of Bazel."

This is technically WAI since we abandoned the GitHub-part of the incompatible flag process. Bazelisk was modified to re

[2021-08-17 20:25] alexeagle commented on #1174
I think this was resolved, since rules_nodejs was able to upgrade bazel versions with only a small amount of RBE flags in https://github.com/bazelbuild/rules_nodejs/pull/2792

[2021-08-17 20:25] #1174 closed

[2021-08-18 13:58] Wyverald commented on #1202
The project is now disabled on Bazel CI; I'll leave this issue open to track actually removing it.

[2021-08-18 14:06] philwo opened #1214 "Make it possible to `sudo apt install` in presubmit.yml"
Instead of preinstalling a lot of dependencies that are used by only one project on our CI, I want to make it possible that projects can just `sudo apt install` in their presubmit.yml whatever they need.

[2021-08-20 04:22] keith opened #1215 "Test failures that exceed the default bytes limit aren't uploaded to artifacts"
This failure https://buildkite.com/bazel/rules-foreign-cc/builds/3456#75a81178-883e-4acb-8548-de5300f827e5 has no artifacts and no output in the log because of the default limit

[2021-08-20 04:59] keith commented on #1215
Ah maybe this wasn't a test failure and that's why?

[2021-08-20 10:14] philwo commented on #1215
Yeah, indeed! That was a build failure, so there are no artifacts to upload.

[2021-08-20 16:26] keith commented on #1215
Think we could capture the stdout log referenced in that job in this case? Kinda leaves you no where to debug otherwise

[2021-08-24 16:29] #1110 closed

[2021-08-30 15:23] katre opened #1218 "CI release builds fail when the release message is too long"
[Bazel release 4.2.1](https://github.com/bazelbuild/bazel/issues/13558) failed during release on Windows hosts only. The issue was eventually traced to being that the release message, when copied into the BUILDKITE_MESSAGE environment variable, was too long and was causing the crash.

Original failure: https://buildkite.com/bazel-trusted/bazel-release/builds/305#4397c7bb-e13f-4268-85b6-7d37fee966b

[2021-08-30 15:24] katre commented on #1218
Sub-issues:
- Fix CI to trim the message (and other variables) to keep them from being too long
- Fix Bazel's release notes to not be so long (4.2.1 includes notes about 4.2.0, 4.1.0, and 4.0.0 due to the way notes are generated from master).

[2021-08-30 15:25] meteorcloudy commented on #1218
Also we should fix Bazel on Windows to not crash when receiving large environment variables.

[2021-08-30 15:41] meteorcloudy commented on #1218
It turned out it's a Windows API limitation:
https://docs.microsoft.com/en-us/windows/win32/api/winbase/nf-winbase-setenvironmentvariable

So we probably couldn't do much on the Bazel side, let's make sure our CI doesn't pass large env var.

[2021-08-30 16:39] #1218 closed

[2021-09-03 11:15] philwo commented on #1218
@meteorcloudy Mhm, if this were an unavoidable Windows API limitation, shouldn't our Python script already crash much earlier? Because the Buildkite Agent sets the environment variable and then calls Python to run our bazelci.py, it seems like Python itself and other programs we call during the script work fine, except Bazel (which crashes). (But maybe I'm missing something here.)

[2021-09-03 11:18] philwo commented on #1218
Since Windows Vista there is apparently no technical limitation anymore, just a "practical limit" because some APIs like `SetEnvironmentVariable` still have this limit (but apparently `GetEnvironmentStrings` doesn't).

[2021-09-03 12:07] meteorcloudy commented on #1218
@philwo That is a good point! I think it's an interesting Windows issue that our 20% contributor could look into ;)

[2021-09-06 14:44] philwo commented on #1190
@UebelAndre I'm not very experienced with Alpine Linux yet. I just tried this:

[code]

Running `ldd bazel-4.2.1-linux-x86_64` shows that a lot of symbols cannot be resolved, probably because we link against glibc:

[code]

So it seems like this might not work. If you have an idea how we could make Bazel work under Alpine, I'd be happy to try it!

If it helps you, I'm tracking a feature request th

[2021-09-09 16:00] UebelAndre commented on #1190
I don't think you can use any of the released binaries from `4.2.1` since they were likely all compiled on `glibc` system. The solution will most likely involve bootstrapping or finding some resolution to https://github.com/bazelbuild/bazel/issues/5891

I attempted the bootstrapping myself but am out of my element here

[code]
[code]
This gets me as far as this error for which I have no solution o

[2021-09-09 20:51] c-parsons opened #1221 "downstream Bazel@HEAD failures: "Received more bytes than Content-length""
There are a number of downstream projects failing with Bazel@HEAD, and culprit finder is no help. Perhaps some infrastructure change?

Error occurs while downloading repository dependencies, and is of the form:
[code]

This is affecting:
[Kythe](https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2169#2429ff6c-a566-4f3e-bbf0-ffe67870a65e)
[rules_docker](https://buildkite.com/bazel/baz

[2021-09-09 21:10] keith commented on #1221
cc @coeuvre in case you think it's related to some of your changes

[2021-09-23 05:27] coeuvre commented on #1214
I can implement this feature. What the syntax do you want to support installing packages?

[2021-09-23 06:11] coeuvre commented on #1214
well, that's not flexible enough. We could probably use something similar to github actions.

[2021-09-23 14:53] robfig opened #1227 "Access request for rules_go maintainer"
Hi, I'm helping out as a maintainer of bazelbuild/rules_go, and I am requesting access to BuildKite so that I can do things like re-run builds which have suspected spurious failures. For example, I'm trying to process this PR right now:
https://github.com/bazelbuild/rules_go/pull/2922

In terms of authorization, @jayconrod  can vouch for me, and I'm a member of the @bazelbuild/go-maintainers group

[2021-09-23 15:42] jayconrod commented on #1227
I'll vouch. Everyone in @bazelbuild/go-maintainers should probably have access.

[2021-09-24 11:50] fweikert commented on #1227
I created https://buildkite.com/organizations/bazel/teams/rules-go/members and added Jay and Andrew, and sent an invite to Brandon. I can invite the others if you sent me your email addresses to fwe@google.com

[2021-09-24 12:28] fweikert commented on #1208
Works for now: https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/1011

However, we should still implement the long-term fix eventually.

[2021-09-24 12:28] #1208 closed

[2021-09-29 20:21] fweikert opened #1237 "Buildfarm failure cannot be bisected"
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2193#c2635432-1220-4c15-9490-c6c4d05a5b3e fails with `subprocess.CalledProcessError: Command '['set -e\n./bazelw build //src/main/java/build/buildfarm/rpms/server:buildfarm-server-rpm //src/main/java/build/buildfarm/rpms/worker:buildfarm-worker-rpm']' returned non-zero exit status 1.`

The corresponding run of https://buildkite.com/b

[2021-09-30 02:00] coeuvre commented on #1214
Implemented via https://github.com/bazelbuild/continuous-integration/pull/1236.

[2021-09-30 02:00] #1214 closed

[2021-09-30 09:41] fweikert opened #1238 "Implement sensible timeout for long-running tasks"
I had to cancel https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2193 after 13 hours (!). The culprit was [rules_nodejs (rbe_ubuntu1604)](https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2193#73a307c3-5c1e-43c0-a737-c2a0cd6ed940): The first task timed out after 8 hours, the second one had been running for 5.5 hours when I cancelled it.

[2021-09-30 09:43] fweikert commented on #1238
Assigning to Yun as recommended in the error message.

[2021-09-30 10:28] fweikert commented on #1237
Assigning to Yun as recommended in the error message.

[2021-09-30 10:28] fweikert commented on #1238
(Assigned Yun to the wrong issue)

[2021-09-30 11:11] meteorcloudy commented on #1237
Looks like it's caused by Buildfarm's change on their own presubmit.yml file:
https://github.com/bazelbuild/bazel-buildfarm/pull/911/files

This is not a bug from our CI.

[2021-09-30 11:11] #1237 closed

[2021-10-04 14:29] meteorcloudy opened #1240 "Envoy hanging in downstream for installing llvm"
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2197#8eb0963c-e299-45d6-9ea2-354fc15447bc

[code]

[2021-10-04 16:25] philwo commented on #1240
Sorry! I'll push a fix for that ASAP.

[2021-10-06 17:01] aiuto opened #1243 "FR: Parameterized task labels."
TL;DR:  Allow variable substitution in task `name` so that something like this works:
[code]

The task names should be precisely the names defined by the string, without adding the platform display label or the imported .yml file name.

Motivation:
- When trying to define CI runs for both LTS and rolling, you want the bazel version in the name to disambiguate tasks easily.  Example: https://github

[2021-10-07 12:18] philwo opened #1244 "bazelci-agent v0.1.1 sometimes causes hanging jobs"
A couple of jobs were observed on Buildkite that still didn't finish after >5 hours. Logging into one of the VMs shows that bazelci-agent process is still running despite the job having finished and Bazel no longer running:

[code]

Attempted to get a stack trace from the binary but failed due to missing debug symbols:

[code]

Managed to capture a log using strace that showed that bazelci-agent i

[2021-10-16 20:42] lbhdc commented on #1060
I came across this issue while searching for a docker image that supported bazel 4. I didn't find any, so I made my own and thought I would share.

[code]

[code]

[2021-10-17 15:09] #1189 closed

[2021-10-18 23:44] benjaminp opened #1256 "update the jdk on macOS agents"
In my Bazel PR bazelbuild/bazel#14115, I'm seeing this error on macOS agents:
[code]
OpenJDK versions before jdk8u272 don't know about TLS1.3. I think this problem can be fixed with a JDK upgrade.

[2021-10-20 21:08] philwo opened #1261 "bazelci-agent uploads the same test log repeatedly"
I noticed that we're uploading lots of duplicated test logs recently:
![image](https://user-images.githubusercontent.com/504652/138172278-55bedaa5-080c-40d2-b369-0b6ca1a3bbd8.png)
(see https://buildkite.com/bazel/bazel-bazel/builds/17632#7c9700cb-3191-435d-8c17-1d7bba66d668)

@coeuvre Could you investigate?

[2021-10-20 22:56] Bencodes opened #1262 "Mac OpenJDK shards failling due to ModuleNotFoundError in bazelci.py"
[code]

Link to one of the failing jobs https://buildkite.com/bazel/bazel-bazel-github-presubmit/builds/9608#566eaa13-9d07-40c3-9e1f-95f4998f1351

As of 1:00 today everything seems to be fine. A build link from earlier https://buildkite.com/bazel/bazel-bazel-github-presubmit/builds/9605#_

[2021-10-20 23:03] #1262 closed

[2021-10-26 04:58] comius opened #1268 "xmllint binary missing"
tests_rules_scala tests are failing on Ubuntu 18.04 because of missing xmllint binary

https://buildkite.com/bazel/rules-scala-scala/builds/3289#85c0e9c5-257a-4f7a-941e-3fddc5c2befc

[2021-10-26 17:22] keith opened #1269 "macOS Android SDK issue"
[code]

It looks like this machine might have an issue with its setup? https://buildkite.com/bazel/bazel-bazel-github-presubmit/builds/9652#ce3a2138-d3b7-4dba-9f75-64f152e73db0

[2021-10-26 18:50] #1269 closed, assigned to nobody

[2021-10-26 21:06] keith opened #1270 "404s for last_green bazel"
Not sure which repo this belongs on, but it affects CI

https://buildkite.com/bazel/rules-swift-swift/builds/2892#f81e439f-881f-4b1e-b0cb-733f6a85928d

[code]

[2021-10-29 18:06] keith opened #1273 "Potential macOS CI setup issue"
rules_apple tests started failing without any changes there between

this successful build https://buildkite.com/bazel/rules-apple-darwin/builds/4659 on 10/20
and this failing build https://buildkite.com/bazel/rules-apple-darwin/builds/4664 on 10/22

This type of test failure:

[code]

Is often related to the machine setup, but it's hard to say specifically what would be the issue here if the Xcod

[2021-10-29 18:08] keith commented on #1270
Thanks, this is all good now, we can close unless you want to keep around to track the core issue

[2021-10-29 18:11] fweikert commented on #1270
This is a duplicate of https://github.com/bazelbuild/bazelisk/issues/69

[2021-10-30 18:14] dayfine commented on #1060
It has been almost a year. Seems a bit long for a P1? Should it be now bumped to P0 to help prioritization?

I came here after updating `rules_python` to 0.5.0. It mentions Bazel 4 is now the LTS version. I suppose P0 might make sense?

[2021-11-04 15:39] comius opened #1276 "rules_haskell need libgmp installed"
Failing since 13th October:
https://buildkite.com/bazel/rules-haskell-haskell/builds/903#3fd64948-8af5-4cb0-86ac-e17300a6219c

The failure on rules_haskell pipeline doesn't update last build and is thus failing downstream.

[2021-11-09 10:53] philwo opened #1277 "Support matrix testing"
This is a feature request to add matrix testing similar to https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions#jobsjob_idstrategymatrix to our config language.

This should solve a lot of duplication that we see in config files in our organization, where the same config is repeated for all platforms and various Bazel versions.

[2021-11-12 09:03] philwo opened #1278 "Turn Bazel CI into a reusable setup for other people"
It would be nice to polish our Bazel CI and turn it into a reusable CI setup following our best practices that other people could use to run a similar service for their open-source project or company.

[2021-11-16 05:46] thii commented on #1273
@philwo Can you take a look?

[2021-11-16 18:31] ScarletFlash commented on #1060
Any updates here?

[2021-11-16 19:38] QuantamHD commented on #1060
@ScarletFlash I'm not on or affiliated with the Bazel team, but I reached out to one of my contacts inside Google to help get this prioritized.

[2021-11-18 23:52] limdor opened #1279 "Ubuntu 21.04 image not working"
I tried to used the Ubuntu 21.04 image but it seems that there is some problem with Python. Not sure what is the problem because it looks like the other Ubuntu version.
https://buildkite.com/bazel/limdor-bazel-examples/builds/65
The error is the following when running the docker run
`/bin/sh: 2: python3.8: not found`

[2021-11-19 16:41] keith opened #1280 "Notify rules authors automatically when pipeline goes red"
Sometimes downstream / main branch jobs go red on their daily crons, it would be useful if an issue was automatically filed in this case so it could be triaged

// @Yannic

[2021-11-24 14:04] philwo commented on #1280
Buildkite has an e-mail notification feature that you could use to get such notifications for pipelines you're interested in. For `rules_apple` (just as an example) this can be setup via: https://buildkite.com/bazel/rules-apple-darwin/settings/email-preferences

Could you let me know if that works for you?

[2021-11-24 14:51] Yannic commented on #1280
That would work for me, except that I don't have the permissions to access the settings, so I can't add my email for `rules_proto` or `grpc-web`.

Would also be nice if there was a way to get notifications when Bazel+downstream starts failing for a specific project (for HEAD versions or RC's of course, not for runs to check if a bazel PR breaks anyone)

[2021-11-24 15:11] philwo commented on #1279
Hi @limdor,

Thanks for spotting this! I must have accidentally put the wrong Python interpreter binary into our config. Sent a PR #1281 that should fix this and will retry afterwards.

Philipp

[2021-11-24 16:36] #1279 closed

[2021-11-24 16:42] philwo commented on #1279
It's working now! 😊  See here: https://buildkite.com/bazel/limdor-bazel-examples/builds/66#44537b8d-7995-4459-a31c-27ef6c297222

[2021-11-24 16:44] philwo commented on #1060
I talked with @alexeagle about this last week who wanted to help me out (thanks!!). Alex, do you already have a Dockerfile that I could try?

[2021-11-24 18:54] philwo commented on #1273
Hi @keith!

I checked the machines again, I found a little issue (three of them were missing the `$HOME/Library/Developer` directory, which caused issues in the past) and fixed it, but the test still fails with the same issue.

The machines were upgraded to macOS Big Sur and Xcode 13.0 during that window and then I regenerated the buildkite user's home directory from scratch.. it's hard to say wha

[2021-11-24 20:20] limdor commented on #1279
Thanks for the retrigger, I just merge it. I found it because I decided to add to the CI all images available :-)

[2021-11-29 06:48] Tianjun7777777 opened #1283 "Request to add new project [PROJECT_NAME]"
Thank you for your interest in adding your project to Bazel CI.

At the moment we're operating at capacity and cannot add new projects except for rules and projects maintained under the bazelbuild GitHub organization.

- [x] My project is part of the bazelbuild GitHub organization.
- [x] I want to test the following project on Bazel CI: [URL_TO_GIT_HUB_PROJECT]
- [x] I confirm that the project has

[2021-11-29 17:18] keith commented on #1280
I do think that works for me but yea I guess I have enough access on the specific pipelines I care about

[2021-12-01 15:03] meteorcloudy opened #1284 "Update pip version on macOS machines"
Bazel Bench is failing on macOS when installing python pip dependencies with:
https://buildkite.com/bazel/bazel-bench/builds/1205#dc6dcde4-9ea2-4d42-8afc-31840912af52
[code]

This issue https://github.com/scipy/scipy/issues/13102#issuecomment-962468269 indicates upgrading pip to the latest version can solve the problem.

[2021-12-03 23:35] keith commented on #1280
Another case I realized was if the downstream build breaks here https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2270 you couldn't do notifications per-pipeline like this even if you had access since there are too many different owners at once

[2021-12-07 13:15] Wyverald commented on #1283
Please indicate which project you want to add.

[2021-12-07 13:15] #1283 closed

[2021-12-08 10:44] meteorcloudy commented on #1284
@philwo Can you help upgrade the pip version? ;)

[2021-12-10 02:58] thii commented on #1273
@philwo The test works locally for me with the same Xcode version.

The error looks pretty similar to this one: https://stackoverflow.com/a/67699037/2780476.

You can reproduce it by running the `ButtonsMacLogicTests` which was disabled in rules_apple: https://github.com/bazelbuild/rules_apple/pull/1264/files

[2021-12-10 17:17] keith commented on #1273
If it is that this case is potentially not auto-logging in the user? We do that on our CI and then immediately lock the screen

[2021-12-14 03:16] f0rmiga commented on #1060
@philwo Alex asked if I could come up with a Dockerfile for this. How about https://github.com/bazelbuild/continuous-integration/pull/1290?

[2021-12-14 15:38] meteorcloudy commented on #1284
@fweikert Do you know how to upgrade the pip version on our mac VMs?

[2021-12-14 15:51] fweikert commented on #1284
I guess we need to ssh into each Mac worker individually and perform the update. The team drive should have a sheet with all IPs, let me see if I can find it.

[2021-12-14 15:55] meteorcloudy commented on #1284
Thanks!

[2021-12-14 16:50] fweikert commented on #1284
Updated 20 iMac Pros and 4 Mac Pros from 21.3 to 21.3.1

[2021-12-14 16:52] philwo commented on #1284
@fweikert How, which commands did you run?

[2021-12-14 16:53] fweikert commented on #1284
´pip install --upgrade pip`

[2021-12-14 16:56] meteorcloudy commented on #1284
Still failing at https://buildkite.com/bazel/bazel-bench/builds/1218#42d94548-e083-43f5-92e3-c65868c16005
Maybe it should be
[code]

[2021-12-14 16:58] meteorcloudy commented on #1284
Wait, I don't see the `You should consider upgrading via the '/usr/local/opt/python@3.9/bin/python3.9 -m pip install --upgrade pip' command.` warning anymore, but still have the error message: `ERROR: No matching distribution found for scipy==1.5.0`

[2021-12-14 16:58] philwo commented on #1284
@fweikert OK, I think that's fine. :) Thank you!

I asked, because I just remembered that I once broke the system Python installation when I upgraded pip - because there are multiple versions of Python and pip on these systems: One is provided by Xcode and we also install the latest Python from Homebrew.

See:

[code]

If you upgrade /usr/bin/pip3 provided by Xcode, stuff breaks. But upgrading the

[2021-12-14 16:59] philwo commented on #1284
I think pip just prints that always when a new version is available, it's probably unrelated to the error.

[2021-12-14 16:59] fweikert commented on #1284
That's definitely one thing we should document (and maybe fix).

[2021-12-14 17:03] philwo commented on #1284
There's nothing to fix, this is just how Python works 😄 The same would happen if you would update the pip version provided by the system on a Linux distribution.

We can document it, but in general handling stuff like this comes with experience and is nothing you can reliably document, as the whole situation can easily change with the next operating system or Xcode version etc.

I'd recommend whoe

[2021-12-15 14:16] meteorcloudy commented on #1284
Looks like it's the scipy version that needs to be upgraded https://github.com/bazelbuild/bazel-bench/pull/126

[2021-12-15 14:17] #1284 closed

[2021-12-18 20:57] justbuchanan commented on #1078
Apologies for ignoring this for so long. I finally got around to it this morning and was able to fix the build by installing dependencies with `apt`. See https://github.com/justbuchanan/bazel_rules_qt/commit/1414d50dcdc15128f0ccd4d317b8aa48b89573ed.

[2021-12-30 22:53] aaliddell opened #1296 "Buildkite not triggering on master from hook"
When pushing to master at https://github.com/rules-proto-grpc/rules_proto_grpc, no buildkite run is started. However, when pushing to another branch (see dev) the run is started as expected, suggesting the hook is working. I can still see the hook in place on the repo and the history shows it was delivered to buildkite on the master update.

Could you check if there is a branch-specific override i

[2022-01-04 03:10] UebelAndre commented on #1190
Friendly ping here.

[2022-01-05 09:14] meteorcloudy commented on #1296
![image](https://user-images.githubusercontent.com/4171702/148191898-dc899e59-7af5-4c60-a4f5-b885cd4cd869.png)
I just enabled Build Branches option for this pipeline, it should work now. ;-)

[2022-01-05 09:14] #1296 closed

[2022-01-05 09:17] meteorcloudy commented on #1276
This is already fixed.

[2022-01-05 09:17] #1276 closed

[2022-01-09 01:16] davidvandebunte commented on #1060
According to [this thread](https://groups.google.com/g/bazel-dev/c/JausNtNZBGo) the current bazel image is based on the [GoogleCloudPlatform/container-definitions](https://github.com/GoogleCloudPlatform/container-definitions) repository. Can someone double confirm that is the case? Perhaps this is related to @philwo's initial comment on this thread about the RBE toolchains team giving up control.

[2022-01-10 11:44] meteorcloudy opened #1302 "BCR presubmit: support specify a test module"
Context: https://groups.google.com/a/bazel.build/g/external-deps/c/GcV1cpRd-Ls/m/1UU9Ez_DDQAJ

In the presubmit.yml file, allow BCR modules to specify a test module (with `bcr_test_module`, `module_path` and its task configurations) to verify the basic functionalities of the checked-in module. The top level of task configurations are only used to verify the build targets.

https://github.com/bazel

[2022-01-10 11:44] meteorcloudy commented on #1302
/cc @fmeum @alexeagle What do you think of this?

[2022-01-10 16:55] fmeum commented on #1302
Looks good to me. I like that this now has the same format as the top-level test config, just one level deeper in.

[2022-01-11 13:37] #1302 closed

[2022-01-11 13:38] meteorcloudy commented on #1302
This is now implemented, @fmeum feel free to try it out and give us feedback!

[2022-01-11 14:20] fmeum commented on #1302
I am giving it a try in https://github.com/bazelbuild/bazel-central-registry/pull/61

[2022-01-17 09:31] meteorcloudy opened #1307 "bk-imacpro-6 is broken"
All jobs assigned to this machine is failing with:
[code]
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2325

[2022-01-17 09:31] meteorcloudy commented on #1307
/cc @fweikert @philwo Any idea how to debug this?

[2022-01-17 09:41] meteorcloudy commented on #1307
I have temporarily stopped the buildkite agent on that machine.

[2022-01-17 09:42] meteorcloudy commented on #1307
Oh, it automatically reconnects, and it still fails with the same error.

[2022-01-17 11:41] meteorcloudy commented on #1307
This has been fixed, it's working again now: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2328#3f71f33a-aad5-44dc-9e8f-fa5b7a943c1e

[2022-01-17 11:41] #1307 closed

[2022-01-18 09:20] sid226 commented on #1041
Gentle ping @philwo Any updates ?

[2022-01-18 16:35] meteorcloudy commented on #1277
This is done in #1300

[2022-01-18 16:35] #1277 closed

[2022-01-20 06:27] aiuto opened #1309 "Request to add new project: rules_license"
Thank you for your interest in adding your project to Bazel CI.

At the moment we're operating at capacity and cannot add new projects except for rules and projects maintained under the bazelbuild GitHub organization.

- [ X] My project is part of the bazelbuild GitHub organization.
- [ X] I want to test the following project on Bazel CI: https://github.com/bazelbuild/rules_license
- [ X ] I confi

[2022-01-20 09:21] philwo commented on #1309
@fweikert This might be a good opportunity to try out the Terraform-based configuration. :)

[2022-01-20 17:27] philwo commented on #1041
@sid226 Unfortunately not. We currently do not have the capacity to onboard another platform - even with your generous offer of providing free servers, we'd still need to spend engineering time to setup the machines and maintain them, debug issues, fix failing tests, help users who report issues on that platform, ...

@sventiffe FYI

[2022-01-25 18:11] alexeagle opened #1313 "Request to add new project aspect_bazel_lib"
https://github.com/aspect-build/bazel-lib

- [ ] My project is part of the bazelbuild GitHub organization.
- [X] My project is a rules set of a GitHub organization other than bazelbuild.
- [ ] I want to test the following project on Bazel CI: [URL_TO_GIT_HUB_PROJECT]
- [ ] I confirm that the project has a `.bazelci/presubmit.yml` file.

Thanks!

[2022-01-25 18:43] c-parsons opened #1314 "rules_apple failing with Head Deps: Infra failure?"
rules_apple seems to be failing with green Bazel using Head Deps, and the culprit could not be identified. Perhaps an infra change / failure?

[code]

https://buildkite.com/bazel/rules-apple-darwin/builds/5008#169a07c1-9b8f-4447-b873-d7e21308a293

`in_x86_64` looks like the beginning of `darwin_x86_64` ...

[2022-01-25 18:43] c-parsons commented on #1314
@meteorcloudy

[2022-01-25 18:58] keith commented on #1314
I think this is actually caused by https://github.com/bazelbuild/rules_swift/commit/918a4d6e2fe87c3cdadf8d66a25179740f0099d6

[2022-01-25 18:59] keith commented on #1314
going to revert and see if it fixes it https://github.com/bazelbuild/rules_swift/pull/748

[2022-01-25 19:10] keith commented on #1314
Yea looks like it was a bug in that change, so we can probably close this

[2022-01-25 21:20] c-parsons commented on #1314
many thanks

[2022-01-25 21:20] #1314 closed

[2022-01-28 09:26] sid226 commented on #1041
@philwo I see, thanks for the info.
Happy to help if there are plans to add support in future.

[2022-01-28 09:26] #1041 closed

[2022-02-02 12:56] #1171 closed

[2022-02-03 23:18] aiuto commented on #1309
Sure.    Will I be able to breath on the airless planet after Terraform'ing? :-)
Our CI load is *very* small. At most, I expect under 100 targets, and a PR rate of < 1/day.

[2022-02-04 09:06] meteorcloudy commented on #1313
@fweikert Can you help adding this project to CI/.

[2022-02-04 15:06] fweikert commented on #1309
https://buildkite.com/bazel/rules-license

[2022-02-04 15:07] fweikert commented on #1309
There seems to be a problem with the config import hack.

[2022-02-08 21:36] Vertexwahn opened #1330 "sudo brew install qt@5 takes forever"
I try to add macOS support for bazel_rules_qt [here](https://github.com/justbuchanan/bazel_rules_qt/pull/38).

To ensure this does not break in the future I added also a CI check for this to my PR.

In the CI job I try to install Qt5 using Homebrew. The job runs for more than 1 hour:
https://buildkite.com/bazel/rules-qt/builds/385#e814ad0e-436c-40ec-8c16-8680dc54db98

In a previous job run I cance

[2022-02-08 22:42] fweikert commented on #1330
FYI, I cancelled two presubmit runs since Mac resources are in demand right now. They've been running for over two and five hours, respectively.

[2022-02-09 06:57] Vertexwahn commented on #1330
This is what the .`bazelci/presubmit.yml` looks like:

[code]

I just want to install Qt (`sudo brew install qt@5`) dependencies - this takes ages - no idea why...

[2022-02-11 05:53] alexeagle commented on #1313
thanks @fweikert - I think I also need to know the webhook URL that buildkite expects me to configure in our project to get presubmit and postsubmit runs?

[2022-02-14 15:11] fweikert commented on #1330
The problem is that the script hangs forever waiting for the password. We have to install any MacOS deps manually :(

[2022-02-14 16:05] philwo opened #1332 "Harden security of Bazel CI"
We should harden the security of Bazel CI to address a few known issues:

- [ ] Remove access to the `docker.sock` on Linux from CI jobs (this will unfortunately break a few users of this feature).
- [ ] Ensure that the `buildkite` user on our macOS machines cannot read any secrets on disk.
- [ ] Ensure that CI jobs on Windows cannot access secrets (maybe using Docker-for-Windows?).
- [ ] Audit pe

[2022-02-14 16:21] philwo commented on #1330
@fweikert I think we shouldn't install any further dependencies on the machines, as it becomes very hard to maintain and bloated over time. We might be able to provide a private `brew` environment for the Buildkite user though. 🤔

[2022-02-16 21:44] Vertexwahn commented on #1330
a private brew would be nice

[2022-02-22 20:52] keith opened #1338 "Add arm64 bazel for last_green commits"
When using last_green with bazelisk, you get an x86_64 bazel even if you're on an arm64 mac. Ideally it would be an arm64 build of bazel. Might be related to https://github.com/bazelbuild/continuous-integration/issues/1112

[2022-02-22 21:22] keith commented on #1338
maybe fixed by https://github.com/bazelbuild/bazelisk/pull/303

sorry i assumed this was an upload issue

[2022-03-03 02:30] thii commented on #1273
@meteorcloudy Pinging you since looks like you are the owner here now. This issue has been blocking us from using BazelCI for Tulsi for a while now.

This is an infra issue, that started happening after an Xcode upgrade, so it would be nice if it could be revisited in the next Xcode upgrade.

[2022-03-03 10:55] meteorcloudy commented on #1273
OK, I'll look into this. Can you rebase https://github.com/bazelbuild/rules_apple/pull/1264 and check if the error persist? I reran the CI presubmit job, it's now failing with a different error.

[2022-03-03 12:18] thii commented on #1273
Rebased!

[2022-03-03 12:36] meteorcloudy commented on #1273
OK, looks like it's still an issue.

@keith How did you do that on your CI? Maybe we can check if we can/should do the same on Bazel CI.
/cc @fweikert

[2022-03-03 15:03] philwo commented on #1273
We are auto-logging in a user after boot (it wouldn't hurt to verify that this still works, of course), but the user who is logged in (`ci`) is not the same user that the Buildkite jobs run as (`buildkite`). Maybe that's the issue?

[2022-03-04 01:08] keith commented on #1273
worth a try

[2022-03-04 09:05] meteorcloudy commented on #1273
@philwo Are you going to try it? Or can you point the script that does the auto-logging in?

[2022-03-04 09:09] philwo commented on #1273
I don't think there's anything we can try here. It's not possible to login as the `buildkite` user, because the entire user is wiped and all of its processes are killed after each job. :/

[2022-03-04 09:13] meteorcloudy commented on #1273
Oh, I see. We are running the CI jobs as a one-time disposable user, so it must be different from the user for auto-logging in.

[2022-03-04 09:15] meteorcloudy commented on #1273
I guess there is little we can do except upgrading Xcode and hope this issue can go away.

[2022-03-16 00:34] keith opened #1345 "Updating last green commit failing"
https://buildkite.com/bazel/rules-apple-darwin/builds/5214#f932d707-3282-4e7e-8b7e-a66d89a3447c

[2022-03-16 15:12] UebelAndre opened #1347 "Adding `rules_rust` release artifacts to Google mirror"
`rules_rust` is planning to start creating releases (https://github.com/bazelbuild/rules_rust/issues/415) and there are some artifacts we associate with each release that we'd like to be able to upload to the Google mirror. Is there an automated way we can have these artifacts uploaded? The artifacts would be a `tar.gz` of the rules themselves and some rust binaries which power repository rules.

[2022-03-17 10:28] thii opened #1348 "Provide Xcode 13.1 and above on macOS machines"
rules_apple needs to test features that are only available with newer Xcodes, e.g. https://github.com/bazelbuild/rules_apple/pull/1393. Is there any plan to add newer Xcode versions (preferably 13.1, 13.2.1, and 13.3) to macOS machines? (newer versions don't need to be the default version)

[2022-03-18 15:06] UebelAndre commented on #1347
cc @philwo

[2022-03-21 16:16] philwo commented on #1347
@meteorcloudy FYI

[2022-03-22 08:55] meteorcloudy commented on #1347
@UebelAndre Unfortunately, mirroring release artifcats has always been manually work. I can help with that.

But with the upcoming [Bzlmod](https://bazel.build/docs/bzlmod) and the [Bazel Central Registry](https://github.com/bazelbuild/bazel-central-registry), this will be automated.  Does rules_rust have the plan to support Bzlmod? I'm working on a migration guide and [a helper script](https://gi

[2022-03-23 21:05] keith commented on #1273
I rebased the linked PR and do still see the issue. I also found this related post https://stackoverflow.com/questions/67688130/run-macos-test-cases-on-the-jenkins-pipeline but I doubt the buildkite setup has this same issue. It does imply logins might be the issue.

If you're hoping Xcode updates fix things, 13.3 is available now, if you could update the machines that would be great in general

[2022-03-24 14:06] meteorcloudy commented on #1273
We need some time to prepare the upgrade as Xcode 13.3 removed python2 support, some things are going to break..

[2022-03-24 14:11] keith commented on #1273
If the machines are already on 12.X you don't have to update to 12.3 and drop python2 for Xcode 13.3, but if they are still on 11.x you might have to go straight to the newest (unless you're using MDM and can block that point release)

[2022-03-24 14:25] meteorcloudy commented on #1273
Thanks for the advice, I just checked, we are still on macOS 11.6.1, so it could be a bit tricky.

[2022-03-25 00:32] iangudger commented on #1060
Maybe this could be manually updated for Bazel 5.0?

[2022-03-29 17:39] keith opened #1351 "Add `cancel_intermediate_builds` to all buildkite pipelines"
A few pipelines have `cancel_intermediate_builds` set, which cancels running jobs when new commits are pushed to existing branches. I think we should enable this for all pipelines to reduce CI queuing, which is especially helpful for macOS CI. I would also recommend we set `cancel_intermediate_builds_branch_filter = '!master'` (or `!main`) to make sure this doesn't apply to the default branch

[2022-03-29 17:42] keith commented on #1351
This is especially useful since non-googlers(?) can't cancel builds manually:

<img width="1401" alt="image" src="https://user-images.githubusercontent.com/283886/160672820-382ddffc-7edc-4a48-bab3-be36bb471454.png">

[2022-04-19 14:38] alexeagle commented on #1313
A bit of followup here, we tried to work through the setup on Slack but never got the hooks working between bazelbuild org and my company's org. Also given the level of effort, I think this may not be feasible - I have a dozen rulesets that need CI, and other rulesets owned by other github orgs would require this effort as well.

[2022-04-19 15:11] aiuto opened #1361 "Using import "foo.yml" syntax expects the working directory to be "foo""
This is a strange and undocumented feature.  It means you can't easily split sections of the yaml up by logical grouping. Instead, it expects sections to be by file system layout.  For example, if you called the include file `tutorials.yml`, but actual things were scattered, we have to   work around it with things like
[code]

[2022-04-28 03:53] Bencodes opened #1363 "rules_kotlin requires Android 31"
The Jetpack compose example inside of rules_kotlin now [requires Android 31](https://buildkite.com/bazel/rules-kotlin-kotlin/builds/2443#fed0df94-c226-456f-8c32-09b5d201d6fb/234-258), which provides Android resources that [aren't available on API 30](https://buildkite.com/bazel/rules-kotlin-kotlin/builds/2441#eade85a5-3945-4432-8046-19e2f95ba830/234-276).

The PR that's reliant on this new SDK ver

[2022-05-22 17:31] keith commented on #1273
@meteorcloudy any plans to address this soon?

[2022-05-24 21:03] keith opened #1371 "Provide M1 mac executors"
Many rule sets have quite different behavior given difference in host architecture, it would be great if bazel CI provided some M1 mac instances so rules could verify they work on that platform

[2022-05-25 08:33] hlopko opened #1372 "Request to add new project: Crubit (https://github.com/google/crubit)"
URL: https://github.com/google/crubit

- [ ] My project is part of the bazelbuild GitHub organization.
- [ ] My project is a rules set of a GitHub organization other than bazelbuild.
- [*] I want to test the following project on Bazel CI: https://github.com/google/crubit
- [*] I confirm that the project has a `.bazelci/presubmit.yml` file.

Thank you!!

[2022-05-25 10:59] meteorcloudy commented on #1273
Sorry, this is still on our list, but we currently don't have capacity to look into it.

[2022-05-26 23:03] compnerd opened #1374 "Request to add Swift to the Windows builder images"
The Windows Swift installer requires elevated privileges (it will augment the WinSDK and MSVC toolset with modulemaps).  The builder user does not have the permissions to perform the elevation and thus cannot install the dependency at runtime as is done on macOS and Linux for rules_swift.

Alternatively, if there is an approach that would work for gaining elevated privileges, that would allow the

[2022-05-26 23:04] keith commented on #1374
cc @meteorcloudy

[2022-05-27 10:03] meteorcloudy commented on #1374
I thought the builder on Windows VM has the admin right, like for creating symlinks, do you have any error message of the installation failure?

[2022-05-27 14:26] compnerd commented on #1374
Sure: https://buildkite.com/bazel/rules-swift-swift/builds/3396#01810287-ec84-43df-931c-fa0bff97e4f3

The download and install step has the install log.

The interesting part is:
[code]

[2022-06-02 06:36] hlopko commented on #1372
Pretty please? :)

[2022-06-02 12:46] fweikert commented on #1372
Please follow the instructions at https://buildkite.com/bazel/crubit/settings/setup/github to set up GitHub integration

[2022-06-02 16:31] hlopko commented on #1372
Is it possible I don't have permissions to see that page?

[2022-06-02 16:31] hlopko commented on #1372
"You don’t have the required access level to change this pipeline"

[2022-06-02 16:40] fweikert commented on #1372
Ok, I know why: I granted full access to the Googlers team, but you weren't a member. I fixed it - can you please try again?

[2022-06-03 08:17] hlopko commented on #1372
Yay it works now!! Thank you so much!

[2022-06-03 08:17] #1372 closed

[2022-06-17 12:24] hlopko opened #1379 "No space left on device when compiling LLVM"
We are consistently seeing `No space left on device` (which file exactly hits the error varies between builds, which is expected) in our Ubuntu 20.04 builds of LLVM. We know LLVM is a large codebase. For example my `bazel-out` is currently 3GB. It should be still far below the disk size in Ubuntu workers, which I'm told have 500GB disks. Any help here would be greatly appreciated :)

Project: http

[2022-06-27 03:11] davido commented on #834
This appears to be obsolete.

[2022-06-27 03:11] #834 closed

[2022-07-08 14:11] sluongng opened #1389 "Add other repos in bazelbuild to code search"
Hi folks,

I was wondering if we could setup code search to support the like of rules_go, rules_rust and rules_docker etc...

These repos are primarily written in go/rust which are the languages that Kythe already have a functioning extractor for.

Even without Kythe indexing, it would be nice just to get repos such as rules_python into https://cs.opensource.google/bazel so that we can search usin

[2022-08-01 14:41] tetsuok opened #1395 "Use of gcr.io/bazel-public/bazel:5.2.0 in Cloud Build is more restrictive than released images in marketplace.gcr.io/google/bazel"
Docker image, `gcr.io/bazel-public/bazel:5.2.0` (created by `bazel/oci/Dockerfile` based on #1290) was supposed to be compatible with previously released images in `marketplace.gcr.io/google/bazel`, but it seems not compatible. `gcr.io/bazel-public/bazel:5.2.0` runs as [non-root user](https://github.com/bazelbuild/continuous-integration/blob/master/bazel/oci/Dockerfile#L20) whereas the previous im

[2022-08-14 23:54] alexeagle opened #1400 "Support Buildkite "fail fast""
Recently Buildkite added a "failing" status, which lets the UI turn red before the tests have all finished running.
https://buildkite.com/changelog/160-failing-builds-fast

This would be great for all Bazel runs under Buildkite. Sadly this currently requires some realtime BEP parsing, and FWICT in this repo the bep_file JSON is only read after the build completes?

Slack context: https://bazelbuil

[2022-08-17 11:00] tetsuok commented on #1395
Closing as rules_python [0.11.0](https://github.com/bazelbuild/rules_python/releases/tag/0.11.0) requires Bazel to run as non-root and I figured it out how to deal with this in Cloud Build.

[2022-08-17 11:00] #1395 closed

[2022-08-17 12:34] fweikert opened #1402 "Publish arm64 Linux binaries for commits"
There have been requests for such binaries. We already publish arm64 Linux binaries for releases (LTS + rolling).

[2022-08-17 12:40] fweikert commented on #1379
Has this error happened again? For the most recent runs I see "The current `lockfile` is out of date for 'crate_index'."

[2022-08-17 14:16] Wyverald opened #1404 "Multiple downstream failures due to `--incompatible_use_platforms_repo_for_constraints`"
Failures: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2586#0182a995-9a6f-49fc-a38d-06487e43e242

Flag flip commit: https://github.com/bazelbuild/bazel/commit/3469784a4935c91b4ac22bcfed6be52e6dfec878

Autosheriff link: https://buildkite.com/bazel/bazel-auto-sheriff-face-with-cowboy-hat/builds/1005

Projects to fix:

- [x] Bazel
- [ ] Bazel integration testing
- [ ] Bazelisk
- [

[2022-08-17 15:21] aiuto commented on #1404
Interesting.  The configurability team will have to look into these. Even
if we were to roll it back, we still want the change for Bazel 6.x, so
fixing the rules is the right choice.

On Wed, Aug 17, 2022 at 10:16 AM Xùdōng Yáng ***@***.***>
wrote:

[2022-08-17 16:03] Wyverald opened #1406 "TensorFlow"

[2022-08-17 16:04] Wyverald commented on #1406
oops, misclick

[2022-08-17 16:04] #1406 closed

[2022-08-18 13:08] aranguyen commented on #1404
@Wyverald A good number of the rest of the projects are caused by the usage of older `bazel-toolchains` which is linked to RBE. https://github.com/bazelbuild/rules_proto/pull/134 is an example of removing deprecated `rbe_autoconfig` and migrating to `rbe_preconfig`. In the same PR, I also removed `bazel-toolchains` because there is no other usage. If there are, then updating it to `5.1.2` & use `r

[2022-08-18 13:09] Wyverald commented on #1404
thanks for the update!

[2022-08-22 07:36] hlopko commented on #1379
I believe it is still happening, but now we have accumulated breakages that I need to fix first. I'll ping this issue once that's done.

[2022-08-23 12:43] meteorcloudy opened #1408 "sha256 sum for bazel_nojdk for 5767cba4044c2bfd8a4c9596c44d2363630b489d"
Context https://github.com/bazelbuild/bazel/issues/16129

[2022-08-24 17:02] aranguyen commented on #1404
Just another update, I've sent prs for the rest except for rules_kotlin
 rules_nodejs, rules_cc and TensorFlow. @Wyverald is there anything on this list that you're actively working on?

[2022-08-24 17:15] Wyverald commented on #1404
Thanks, Ara. I've been busy with other stuff so haven't been sending new PRs for anything else.

For the other PRs you sent, could you mention this issue in them so I can keep track?

[2022-08-24 17:20] aranguyen commented on #1404
Okay sounds good. I will make sometime today to work on the rest then. I sent these

1. `rules_go` https://github.com/bazelbuild/rules_go/pull/3272
2. `rules_foreign_cc` https://github.com/bazelbuild/rules_foreign_cc/pull/952
3. `rules_rust` https://github.com/bazelbuild/rules_rust/pull/1524
4. `rules_proto` https://github.com/bazelbuild/rules_proto/pull/134

The above were all merged. The followi

[2022-08-24 23:39] alexeagle commented on #1404
@aranguyen the commit in rules_nodejs didn't actually enable the flag https://github.com/bazelbuild/rules_nodejs/pull/2536/files#diff-544556920c45b42cbfe40159b082ce8af6bd929e492d076769226265f215832fR56

I'll try again now...

[2022-08-25 03:47] aranguyen commented on #1404
@alexeagle that comment I made on your pr previously is a bit ancient. I think it was during the time when I updated the external deps for bazel so that is obsolete. The failure for `rules_nodejs` we're seeing now should be addressed by this pr https://github.com/bazelbuild/rules_nodejs/pull/3541 . Similar reason mentioned here https://github.com/bazelbuild/continuous-integration/issues/1404#issue